/**
*************************** RESET *********************
 */
@import 'partials/reset';
/**
*************************** Variable *********************
 */
@import 'partials/variables';
/**
/**
*************************** Fonction *********************
 */
@import 'partials/mixins';
/**
*************************** Components *********************
 */
@import 'partials/views/navbar';
@import 'partials/views/header';
@import 'partials/views/modalConnect';
@import 'partials/views/planDeSite';
@import 'partials/views/footer';
@import 'partials/views/search';
@import 'partials/views/multiSelect';
@import 'partials/components/cards';

/**
*************************** View *********************
 */
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Comfortaa|Francois+One|Josefin+Sans|Play|Poiret+One|Source+Sans+Pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css');



body::-webkit-scrollbar {
  display: none;
}
body {
  font-size: 1.0em;
  background: url('../img/header.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $primaryFont, sans-serif;
  .content {
    margin-top: 50px;
    /*margin-bottom: 50px;*/
    background-color: #fff;
    padding: 30px;
    min-height: 100vh;
    z-index: 1;
  }
  .body {
    background-color: rgba(224, 242, 241, 0.6);
    padding-top: 10px;
  }

  .article {
    padding: 20px;
  }

  h1 {
    font-size: 4em;
    font-family: $secondeFont, sans-serif;
  }
  h2 {
    font-family: $secondeFont, sans-serif;
    font-size: 2.8em;
    line-height: 2em;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    font-family: $secondeFont, sans-serif;
    font-size: 2em;
    line-height: 1em;
    a:link {
      text-decoration: none;
      color: $primaryColor;
    }

    a:visited {
      text-decoration: none;
      color: $primaryColor;
    }

    a:hover {
      text-decoration: none;
      font-weight: bold;
      color: $primaryColor;
    }

    a:active {
      text-decoration: none;
      font-weight: bold;
      color: $primaryColor;
    }
  }
  h4 {
    font-size: 2.4em;
    line-height: 1em;
  }
  h5 {
    font-size: 2.2em;
    line-height: 1em;
  }
}