<div id="stickHeader">
    <div class="container-fluid hidden-t-p hidden-s">
        <div class="row">
            <div class="col-md-3">
                <a class="" href="{{ path('home') }}"><img src="{{ asset('/img/AMRF.png') }}" alt=""></a>
            </div>
            <div class="col-md-6">
                <div id="search" class="hidden-t-l">
                    {% if app.request.attributes.get('_route') == 'home'
                    or app.request.attributes.get('_route') == 'amrf'
                    or app.request.attributes.get('_route') == 'contact' %}
                    {% else %}
                        <form action="">
                            <ul>
                                <li><input type="text" class="form-control" placeholder="Rechercher une fiche projet"/>
                                </li>
                                <li>
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </li>
                            </ul>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 text-right">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="btn hidden-t-l" href="{{ path('logout') }}">Logout</a>
                {% else %}
                    <div class="btn hidden-t-l" data-toggle="modal" data-target="#formConnect">
                        Accédez à votre espace
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="titleHeader">
    <a href="{{ path('home') }}" id="title"><h1>Le Wiki des Maires</h1></a>
    <div class="baseline visible-xs visible-sm">
        <span>DES MAIRES AU SERVICE DES MAIRES</span>
    </div>
</div>

