<div class="modal fade" id="formConnect">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body containerConnect">
                <div class="row">
                    <div class="col-xs-11 text-center">
                        <h3>Accédez à votre espace</h3>
                    </div>
                    <div class="col-xs-1 text-right">
                        <span class="close" aria-hidden="true" data-dismiss="modal" aria-label="Close">&times;</span>
                    </div>

                    <div class="col-sm-6 col-xs-12 text-center">
                        <div class="formConnect maire">
                            <form action="{{ path('login') }}" method="post">
                                <h5 class="text-center">Maire</h5>
                                <div class="form-group">
                                    <label for="login">n° INSEE</label>
                                    <input id="login" type="text" name="_username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="mdp">Mot de passe</label>
                                    <input id="mdp" type="password" name="_password" class="form-control">
                                </div>

                                <div>
                                    <button class="btn" type="submit" name="action">Connexion</button>
                                </div>
                                <div>
                                    <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
                                </div>
                                <input type="hidden" name="_target_path" value="/mayor"/>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-center">
                        <div class="formConnect part">
                            <form action="{{ path('login') }}" method="post">
                                <h5 class="text-center">Partenaire</h5>
                                <div class="form-group">
                                    <label for="login">n° SIRET</label>
                                    <input id="login" type="text" name="_username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="mdp">Mot de passe</label>
                                    <input id="mdp" type="password" name="_password" class="form-control">
                                </div>
                                <div class="containerConnect">
                                    <button class="btn" type="submit" name="action">Connexion</button>
                                </div>
                                <div class="containerConnect">
                                    <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
                                </div>
                                <input type="hidden" name="_target_path" value="/partner"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay"></div>
