.containerConnect{
  width:200px;
  margin:20px;
  padding:20px auto;
}
.formConnect {
  width: 100%;
  padding: 0;
  @include borderRadius(5px);
}
.containerConnect{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}