.enCours, .achieved {
  border-bottom: solid 3px #3c763d;
}

h3 {
  color: #3c763d;
}

.jumbotron {
  padding: 20px;
}

img {
  margin-top: 50px;
}
#city {
  margin-top: 10px;
  span {
    font-size: .8em;
  }
}

#theme {
  margin-top: 10px;
  span {
    font-size: .8em;
  }
}

.btn-success {
  float: right;
}




