{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block body %}

    <h2>Erreur!</h2>
    <div class="jumbotron">
        <h3>La page n'a pas été trouvée</h3>
    </div>

{% endblock %}