{% extends 'base.html.twig' %}
{% block title %}Erreur interne au serveur{% endblock %}
{% block body %}

    <h2>Erreur 500 !</h2>
    <div class="jumbotron">
        <h3>Erreur interne au serveur ou serveur saturé.</h3>
    </div>
{% endblock %}