{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Mes projets{% endblock %}
{% block navbar %}
    {% include 'AMRFPublicRooterBundle::components/navbarMaire.html.twig' %}
{% endblock %}
{% block body %}
    <h2>Mes Projets réalisés et en cours</h2>
    <div class="row tabPannel">
        <ul class="list-inline text-center" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mes
                    Projets en Attente</a></li>
            <li role="presentation"><a href="#projet" aria-controls="projet" role="tab" data-toggle="tab">Mes
                    Projets Finalisés</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <h3>Mes projets en cours de saisie</h3>
                <div class="jumbotron">
                {% include 'AMRFPublicRooterBundle::components/resumeProject.html.twig' %}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="projet">
                <h3>Mes projets</h3>
                <div class="jumbotron">
                    {% include 'AMRFPublicRooterBundle::components/resumeProject.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

