{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Mes projets{% endblock %}
{% block body %}
    <h2>Mes Projets réalisés et en cours</h2>
    <div class="tab-content jumbotron test">
    <ul class="list-inline text-center" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mes
                projets en cours de saisie</a></li>
        <li role="presentation"><a href="#projet" aria-controls="projet" role="tab" data-toggle="tab">mes projets</a>
        </li>
        <li role="presentation"><a href="#favoris" aria-controls="favoris" role="tab" data-toggle="tab">mes favoris</a>
        </li>
    </ul>

    <!-- Tab panes -->

        <div role="tabpanel" class="tab-pane active" id="home">
            <h3>Mes projets en cours de saisie</h3>
            <div class="col-md-3">
                <img src="http://via.placeholder.com/200x200" alt="">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="display-3">Participation citoyenne et démocratie locale</h3>
                    </div>
                    <div class="col-md-12 text-left" id="city">
                        <span class="label label-success">SAINT JEAN PIED DE PORT</span>
                        <span class="label label-success">Pyrénées-Atlantiques</span>
                    </div>
                    <div class="col-md-12 text-left" id="theme">
                        <span class="label label-default">Démocratie locale</span>
                        <span class="label label-default">Transports</span>
                        <span class="label label-default">Aménagement du territoire</span>
                    </div>
                    <div class="col-md-12">
                        <h3>Résumé du projet</h3>
                    </div>
                    <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore.
                    </div>
                </div>
                <div class="btn btn-success" href="#" role="button">Modifier la fiche</div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="projet">
            <h3>Mes projets</h3>
            <div class="col-md-3">
                <img src="http://via.placeholder.com/200x200" alt="">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="display-3">Réhabilitation commerce</h3>
                    </div>
                    <div class="col-md-12 text-left" id="city">
                        <span class="label label-success">SAINT JEAN PIED DE PORT</span>
                        <span class="label label-success">Pyrénées-Atlantiques</span>
                    </div>
                    <div class="col-md-12 text-left" id="theme">
                        <span class="label label-default">Services de proximité</span>
                        <span class="label label-default">Tourisme </span>
                        <span class="label label-default">Economie</span>
                    </div>
                    <div class="col-md-12">
                        <h3>Résumé du projet</h3>
                    </div>
                    <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                        in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <div class="btn btn-success" href="#" role="button">voir la fiche</div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="favoris">
            <h3>Mes favoris</h3>
            <div class="col-md-3">
                <img src="http://via.placeholder.com/200x200" alt="">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="display-3">Réhabilitation commerce</h3>
                    </div>
                    <div class="col-md-12 text-left" id="city">
                        <span class="label label-success">SAINT JEAN PIED DE PORT</span>
                        <span class="label label-success">Pyrénées-Atlantiques</span>
                    </div>
                    <div class="col-md-12 text-left" id="theme">
                        <span class="label label-default">Services de proximité</span>
                        <span class="label label-default">Tourisme </span>
                        <span class="label label-default">Economie</span>
                    </div>
                    <div class="col-md-12">
                        <h3>Résumé du projet</h3>
                    </div>
                    <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                        in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <div class="btn btn-success" href="#" role="button">voir la fiche</div>
            </div>
        </div>
    </div>

{% endblock %}

