#header {
  height: 25%;
  text-align: center;
  width: 100%;
  .logo {
    display: inline-block;

    background-color: rgba(255, 255, 255, 1);
    background-image: url('../img/AMRF.png' );
    background-position: center;
    background-repeat: no-repeat;

    background-size: contain;
    z-index: 10000;
    top: 5px;
    left:10px;
    position: fixed;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  }
  .connect {
    display: inline-block;
    float: right;
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
    button {
      padding:20px;
    }
    .btn {
      font-size: 1.5em;

    }
  }
  .btn {
    background-color: $primaryColor;
    color: $secondeColor;
    border:0;
    padding: 10px;
    font-family: 'Cabin Condensed', sans-serif;
  }
  h1 {
    display: inline-block;
    margin: 10% auto;

    color: #FFFFFF;
    /*text-shadow: 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, -1px 0 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 5px 5px 0px rgba(0, 0, 0, 0.6);*/
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  }
}
