{% if is_granted('ROLE_MAYOR') %}
    {% set idMayor = app.user.mayor.id %}
{% elseif is_granted('ROLE_PARTNER') %}
    {% set idPartner = app.user.partner.id %}
{% endif %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - Wiki des Maires</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% include 'components/head.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    {% include 'components/header.html.twig' %}
</header>
<nav id="navbar">
    {% block navbar %}
        {% include 'components/navbar.html.twig' %}
    {% endblock %}
</nav>
<a href="#">
    <div class="scrollUp"><i class="fa fa-angle-up"></i></div>
</a>
{% for key, message in app.flashes %}
    <div class="flash {{ key }}">
        <div class="notif">
            {{ message.0|raw }}
        </div>
    </div>
{% endfor %}
<section>
    <div class="container">
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</section>
<footer class="page-footer">
    {{ render(controller(
    'AppBundle:Layout:footer'
    )) }}
</footer>
{% include 'components/script.html.twig' %}

{% block javascripts %}{% endblock %}
</body>
{% include 'components/modalConnect.html.twig' %}
</html>
