{% extends 'base.html.twig' %}
{% block title %}Mot de passe{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <h2>Mon mot de passe</h2>

    <div class="row tabPannel">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="settings">
                <div class="star">Le symbole * indique que cette information est nécessaire.</div>
                <h3>Changer mon mot de passe</h3>
                <div class="col-lg-6 col-sm-6">

                    {{ form_start(form_password) }}
                    {{ form_widget(form_password) }}

                    <div class="col-lg-12 col-md-12 text-center">
                        <button class="btn" type="submit">Valider votre mot de passe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{ form_end(form_password) }}
{% endblock %}
