{% extends 'base.html.twig' %}
{% block title %}Mes Favoris{% endblock %}
{% block navbar %}
    {% set options = {'status':1} %}
    {% include 'components/navbar.html.twig' with options %}
{% endblock %}
{% block body %}
    <h2>Mes favoris</h2>
    <!-- Nav tabs -->
    <div class="row tabPannel">
    <ul class="list-inline text-center hidden-xs" role="tablist">
        <li role="presentation" class="active">
            <a href="#projets" aria-controls="profil" role="tab" data-toggle="tab">Mes projets favoris</a>
        </li>
        <li role="presentation">
            <a href="#partenaires" aria-controls="mairie" role="tab" data-toggle="tab">Mes partenaires favoris</a>
        </li>
    </ul>
    <div class="tab-content hidden-xs">
        <div role="tabpanel" class="tab-pane active" id="projets">
            <div class="jumbotron">
                {% set options = {'thema':'false','pictures':'false','update': 'false', 'more': 'true', 'id': 1, 'text': 100} %}
                {% include 'components/resumeProject.html.twig' with options %}
            </div>
            <div class="jumbotron">
                {% set options = {'thema':'false','pictures':'false','update': 'false', 'more': 'true', 'id': 2, 'text': 100} %}
                {% include 'components/resumeProject.html.twig' with options %}
            </div>
            <div class="jumbotron">
                {% set options = {'thema':'false','pictures':'false','update': 'false', 'more': 'true', 'id': 2, 'text': 100} %}
                {% include 'components/resumeProject.html.twig' with options %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="partenaires">
            <div class="jumbotron panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                    <div class="row">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div class="col-xs-4">
                                <img src="http://via.placeholder.com/70x70">
                            </div>
                            <div class="col-xs-5">
                                <h3>Nom du partenaire</h3>
                            </div>
                            <div class="col-xs-3 text-right">
                                <div class="hidden-xs btn btn-collapse">
                                    <i class="fa fa-angle-double-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    {% include 'components/partComponent.html.twig' %}
                </div>
            </div>

            <div class="jumbotron panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <div class="row">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <div class="col-xs-4">
                                <img src="http://via.placeholder.com/70x70">
                            </div>
                            <div class="col-xs-5">
                                <h3>Nom du partenaire</h3>
                            </div>
                            <div class="col-xs-3 text-right">
                                <div class="hidden-xs btn btn-collapse">
                                    <i class="fa fa-angle-double-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    {% include 'components/partComponent.html.twig' %}
                </div>
            </div>

            <div class="jumbotron panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                   aria-expanded="true" aria-controls="collapseThree">
                    <div class="row">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <div class="col-xs-4">
                                <img src="http://via.placeholder.com/70x70">
                            </div>
                            <div class="col-xs-5">
                                <h3>Nom du partenaire</h3>
                            </div>
                            <div class="col-xs-3 text-right">
                                <div class="hidden-xs btn btn-collapse">
                                    <i class="fa fa-angle-double-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    {% include 'components/partComponent.html.twig' %}
                </div>
            </div>
        </div>
    </div>{#end tabContent#}

    {#Swipper#}
    <div class="visible-xs swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <h3>Projet</h3>
                <div class="jumbotron">
                    {% set options = {'thema':'false','pictures':'false','update': 'false', 'more': 'true', 'id': 1, 'text': 100} %}
                    {% include 'components/resumeProject.html.twig' with options %}
                </div>
                <div class="jumbotron">
                    {% set options = {'thema':'false','pictures':'false','update': 'false', 'more': 'true', 'id': 2, 'text': 100} %}
                    {% include 'components/resumeProject.html.twig' with options %}
                </div>
                <div class="jumbotron">
                    {% set options = {'thema':'false','pictures':'false','update': 'false', 'more': 'true', 'id': 2, 'text': 100} %}
                    {% include 'components/resumeProject.html.twig' with options %}
                </div>
            </div>
            <div class="swiper-slide">
                <h3>Part</h3>
                <div class="jumbotron panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1"
                       aria-expanded="true" aria-controls="collapseOne">
                        <div class="row">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <div class="col-xs-4">
                                    <img src="http://via.placeholder.com/70x70">
                                </div>
                                <div class="col-xs-5">
                                    <h3>Nom du partenaire</h3>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <div class="hidden-xs btn btn-collapse">
                                        <i class="fa fa-angle-double-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        {% include 'components/partComponent.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>{#end tabPannel #}
{% endblock %}