{% extends 'base.html.twig' %}
{% block title %}Projet{% endblock %}
{% block body %}
    <h2>{{ project.title }}</h2> <!-- insertion php-->
    {% include 'components/projectComponent.html.twig' %}
{% endblock %}