{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <h2>Réinitialisation de votre mot de passe</h2>
    <div class="row jumbotron">
        <div class="col-lg-5 col-sm-5">
            {{ form_start(form_password) }}
            {{ form_widget(form_password) }}
            <div class="hidden">
                {{ form_errors(form_password) }}
            </div>
            <button class="btn" type="submit">Valider votre mot de passe</button>
            {{ form_end(form_password) }}
        </div>
        <div class="col-lg-5 col-sm-5 caution">
            <p>Votre mot de passe doit comporter au moins
                <span>7 caractères, une majuscule, une minuscule et un chiffre</span>.
            </p>
            <p><span>Attention :</span> lors de la validation, vous serez automatiquement
                redirigé vers la page d'accueil.</p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.alert').addClass("hidden");
        });
    </script>
{% endblock %}
