{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <h2>Token</h2>
    {{ form_start(form_password) }}
    {{ form_widget(form_password) }}

        <button class="btn" type="submit">Valider votre mot de passe</button>

    {{ form_end(form_password) }}
{% endblock %}
