.bck-maire {
  margin-bottom: 20px;
  background: rgba(144, 202, 249, 1);
  min-height: 330px;
  @include borderRadius(5px);
  div > a {
    color: rgb(54, 80, 105) !important;
  }
  .fa {
    margin: 10px;
    text-align: center;
    font-size: 5em;
  }
  .btn {
    background: rgb(54, 80, 105);
    border: none;
    width: 280px;
    .fa {
      margin: 10px;
      text-align: center;
      font-size: 1em;
    }
  }
  .btn:hover {
    background: rgb(54, 80, 105);
    border: none;
  }
  .search {
    width: auto;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 2em !important;
  }
  .search:hover {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 2em !important;
  }

  p {
    margin-top: 10px;
    padding: 10px;
    font-size: 0.9em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  h3 {
    color: $color2;
    margin: 20px;
    line-height: 1em;
  }
}

.bck-part {
  margin-bottom: 20px;
  background: rgba(139, 175, 139, 1);
  min-height: 330px;
  @include borderRadius(5px);

  div > a {
    color: rgb(87, 116, 87) !important;
  }
  .fa {
    margin: 10px;
    text-align: center;
    font-size: 5em;
  }
  .btn {
    background: rgb(87, 116, 87);
    border: none;
    width: 280px;
    .fa {
      margin: 10px;
      text-align: center;
      font-size: 1em;
    }
  }
  .btn:hover {
    background: rgb(87, 116, 87);
    border: none;
  }
  .search {
     width: auto;
     padding-right: 50px;
     padding-left: 50px;
     font-size: 2em !important;
   }
  .search:hover {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 2em !important;
  }


  p {
    margin-top: 10px;
    padding: 10px;
    font-size: 0.9em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  h3 {
    color: $color2;
    margin: 20px;
    line-height: 1em;
  }
}
