footer {
  color: $color2;
  .footer-logo {
    height: 80px;
    background-color: #FFFFFF;
    @include borderRadius(5px);
  }
  .bck {
    background: linear-gradient(to bottom, rgba(224, 242, 241, 0.8), rgba(224, 242, 241, 0));
    height: 20vh;
  }
  .bck-footer {
    background-color: $color1;
    padding: 20px;
  }
  p {
    font-size: 0.8em;
    text-align: justify;
  }
  ul > li {
    margin: 0 20px 0 20px;
  }
}
