section {
  form {
    .search {
      height: 50px;
      font-size: 1.8em !important;
    }
    .form-control {
      font-size: 1em;
      color: $color5;
      @include borderRadius(5px)
    }
    .form-control:focus {
      border: 2px solid $color1;
      box-shadow: none;
    }
    .textarea {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    input {
      background: red;
      border: 1px solid $color1;
      width: 100% !important;
    }
    label {
      width: 100%;
      font-size: 1.0em;
    }
    input[type="file"] {
      height: 0;
      width: 0;
      overflow: hidden;
      border: 0 solid $color3;
    }
    input[type="checkbox"] {
      &:empty {
        display: none;
        ~ label {
          font-size: 0.9em;
          position: relative;
          line-height: 2em;
          text-indent: 3em;
          margin-top: 5px;
          cursor: pointer;
          user-select: none;
          &:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px;
          }
        }
      }
      &:hover:not(:checked) ~ label {
        color: #888;
        &:before {
          content: '\2714';
          text-indent: .9em;
          color: #C2C2C2;
        }
      }
      &:checked ~ label {
        color: $color1;
        &:before {
          content: '\2714';
          text-indent: .9em;
          color: $color2;
          background-color: $color1;
        }
      }
      &:focus ~ label:before {
        box-shadow: 0 0 0 3px #999;
      }
    }

    input[type="radio"] {
      width: 1em !important;
margin-left: 20px;
    }

    #divCacher{
      display: none;

    }
    .cleIcon {
      width: 200px;
      height: 200px;
    }
  }
}



