header {
  width: 100%;
  h1 {
    display: inline-block;
    margin: 140px auto 0 auto;
    font-size: 4em;
    font-family: $font3, sans-serif;
    color: #FFFFFF;
    position: relative;
    z-index: 99;
  }

  .baseline {
    font-family: $font3, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1em;
    text-align: center;

  }
  #titleHeader {
    height: 300px;
    text-align: center;
    background: url('../img/bck-2.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #stickHeader {
    background: url('../img/bck-2.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 100;
  }
  #search {
    width: 500px;
    margin: 10px auto;
    ul {
    }
    li {
      display: inline-block;
      .btn {
        margin: 0 !important;
        margin-top: -8px !important;
        height: 50px;
      }
      input {
        font-size: 1.4em;
        width: 440px !important;
        height: 50px;
      }
    }
  }
  img {
    height: 80px;
    background: $color2;
    margin: 10px;
    @include borderRadius(5px);
  }
}
