header {
  height: 25%;
  text-align: center;
  width: 100%;

  .logo {
    display: inline-block;
    background: rgba(255, 255, 255, 1) url('../img/AMRF.png') no-repeat center;
    background-size: contain;
    z-index: 10000;
    top: 5px;
    left: 5px;
    position: fixed;
    width: 200px;
    height: 100px;
    @include borderRadius(5px);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  }
  .connect {
    display: inline-block;
    float: right;
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
  }
  h1 {
    display: inline-block;
    margin: 10% auto;
    font-size: 4em;
    font-family: $secondeFont, sans-serif;
    color: #FFFFFF;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  }
}
