nav {
  color: $color2;
  width: 100%;
  margin-top: 0;
  background-color: $color1;
  border-radius: 0;
  font-size: 1.6em;
  vertical-align: middle;
  height: 60px;
  padding-right: 50px;
  position: sticky;
  top: 100px;
  z-index: 200;
  @include boxShadow(0.05em, rgba(0, 0, 0, 0.2));
  p {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 20px;
    i {
      font-size: 0.5em !important;
      vertical-align: top;
    }
  }
  .nav > li > a {
    margin: 0 5px -4px 5px;
    color: $color2;
    i{
      vertical-align: top;
    }
  }
  .nav > li > a:hover, .nav > li > a:focus, .nav > li > a.active {
    height: 50px;
    background-color: unset;
    border-bottom: 4px solid $color2;
  }

   .dropdown-menu {
     a {
      font-size: 1.5em;
      color: $color2;
      margin: 0 10px 0 10px;
    }
    a:hover {
      color: black;
      background-color: unset;
      box-shadow: -5px 0px 0 rgba(255, 255, 255, 1);
    }
   .dropdown-submenu a:hover::before {
      content: '';

    }
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100%;
    padding: 5px 0;
    margin: 0 0;
    text-align: left;
    list-style: none;
    background-color: $color1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, .0);
  }
  .dropdown-main > a {
    height: 50px;
    font-size: 1.8em;
  }
  .dropdown-main > a:hover {
    border-bottom: 4px solid $color2;
    box-shadow: 0 0 0 rgba(0, 0, 0, .0);
    color: $color2;
    font-size: 1.8em;
    font-weight: bold;
  }

  .dropdown-header{
    font-size: 1.5em;
    color: $color4;
  }

  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }

  .dropdown-submenu > a:after {
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: #555;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
    text-decoration: none;
  }

  @media (max-width: 767px) {

    .navbar-nav {
      display: inline;
    }
    .navbar-default .navbar-brand {
      display: inline;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    .navbar-default .navbar-nav .dropdown-menu > li > a {
      color: red;
      background-color: #ccc;
      border-radius: 4px;
      margin-top: 2px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #333;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      background-color: #ccc;
    }

    .navbar-nav .open .dropdown-menu {
      border-bottom: 1px solid white;
      border-radius: 0;
    }
    .dropdown-menu {
      padding-left: 10px;
    }
    .dropdown-menu .dropdown-menu {
      padding-left: 20px;
    }
    .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
    }
    li.dropdown.open {
      border: 0px solid red;
    }

  }

  @media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu {
      display: block;
    }
    #navbar {
      text-align: center;
    }
  }
  .logo {
    height: 40px;
    width: 80px;
    margin-top: -10px;
    background-color: #FFFFFF;
    @include borderRadius(5px);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  }



}