nav {
  color: $color2;
  width: 100%;
  margin-top: 0;
  background-color: $color1;
  border-radius: 0;
  font-size: 1.6em;
  vertical-align: middle;
  height: 60px;
  padding-right: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  z-index: 200;
  @include boxShadow(0.05em, rgba(0, 0, 0, 0.2));
  hr{
    margin: 5px;
  }
  img {
    height: 40px;
    background-color: $color2;
    @include borderRadius(5px);
    margin: 10px 15px;
  }

  p {
    font-family: $font3, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
    i {
      font-size: 0.5em !important;
      vertical-align: top;
    }
  }
  .nav > li > a {
    margin: 0 5px -4px 5px;
    color: $color2;
    i {
      vertical-align: top;
    }
  }
  .nav > li > a:hover, .nav > li > a:focus, .nav > li > a.active {
    height: 50px;
    background-color: unset;
    border-bottom: 4px solid $color2;
  }
  .icon-bar {
    color: $color2;
    background: $color2;
  }
  .navbar-collapse {
    background: $color1;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: $color2;
    color: $color1;
    border: 0;
  }
  .dropdown-menu {
    a {
      font-size: 1.2em;
      color: $color2;
      margin: 0 10px 0 10px;
    }
    a:hover {
      color: $color2;
      background-color: unset;
      box-shadow: -5px 0px 0 rgba(255, 255, 255, 1);
    }
    .dropdown-submenu a:hover::before {
      content: '';
    }

    z-index: 1000;
    display: none;
    float: left;
    min-width: 100%;
    padding: 5px 0;
    margin: 0 0;
    text-align: left;
    list-style: none;
    background-color: $color1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, .0);
  }


  .dropdown-header {
    font-size: 1.3em;
    color: $color1;
    background-color: $color2;
    line-height: 1em;
    margin-top: 5px;
  }

  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }

  .dropdown-submenu > a:after {
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: #555;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
    text-decoration: none;
  }

  /*@media (max-width: 767px) {

    .navbar-nav {
      display: inline;
    }
    .navbar-default .navbar-brand {
      display: inline;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    .navbar-default .navbar-nav .dropdown-menu > li > a {
      color: red;
      background-color: #ccc;
      border-radius: 4px;
      margin-top: 2px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #333;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      background-color: #ccc;
    }


    .navbar-nav .open .dropdown-menu {
      border-bottom: 1px solid white;
      border-radius: 0;
    }
    .dropdown-menu {
      padding-left: 10px;
    }
    .dropdown-menu .dropdown-menu {
      padding-left: 20px;
    }
    .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
    }
    li.dropdown.open {
      border: 0px solid red;
    }

  }

  @media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu {
      display: block;
    }
    #navbar {
      text-align: center;
    }
  }
  .logo {
    height: 40px;
    width: 80px;
    margin-top: -10px;
    background-color: #FFFFFF;
    @include borderRadius(5px);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  }*/

}