.resumeProject{

  img {
    border: 2px solid #FFF;
    @include borderRadius(5px);
  }
  .img-big {
    margin: 10px;
    @include borderRadius(5px);
  }
  .img-preview {
    text-align: center;
  }
  .img-mini {
    margin: 5px;
    @include borderRadius(2px);
    transition: all .2s ease-in-out;
  }
  .img-mini:hover {
    transform: scale(1.1);
  }

}