.tabPannel {
  @include borderRadius(6px);
  width: 100%;
  padding: 60px 48px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  @include boxShadow(0.05em, rgba(0, 0, 0, 0.4));
  ul {
    margin-bottom: 30px;
    a {
      color: $color1;
      background-color: $color2;
      text-decoration: none;
    }
    .active {
      a {
        background-color: $color2;
        border-bottom: 4px solid $color1;
        color: $color1;
        text-decoration: none;
      }
    }
  }
}
.tabLi {
  a {
    padding: 20px;
  }
}