<div class="bck">
</div>
    <div class="container-fluid bck-footer">
        <div class="row">
            <div class="col-lg-2 col-md-2 text-center">
                <a href="#header">
                    <img class="footer-logo" src="../img/AMRF.png">
                </a>
            </div>
            <div class="col-lg-10 col-md-10">
                Depuis 1971, l'Association des Maires Ruraux de France (AMRF) fédère, informe et représente
                près de 10000 maires de communes rurales pour défendre et promouvoir les enjeux spécifiques
                de la ruralité.<br/>
                Réseau convivial et solidaire d'associations départementales - en toute indépendance des
                pouvoirs et partis politiques - l'AMRF est un représentant incontournable du monde rural auprès
                des pouvoirs publics et des grands opérateurs nationaux.
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <ul>
                            <li><a class="" href="/confidential">Déclaration de confidentialité</a>
                            </li>
                            <li><a class="" href="/mentions">Mentions Légales</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <ul>
                            <li><a class="" href="http://www.amrf.fr" target="_blank">www.amrf.fr</a></li>
                            <li><a class="" href="#!">Questionnaire de satisfaction</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img class="partlogo" src="../img/partnaires/groupe_cdd.png" alt="">
                        <img class="partlogo" src="../img/partnaires/panneaupocket.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col m12">© 2014 Copyright Text</div>
        </div>
    </div>