<div class="bck">
</div>
<div class="container-fluid bck-footer">
    <div class="row">
        <div class="col-lg-2 col-md-2 text-center">
            <a href="{{ path('home') }}">
                <img class="footer-logo" src="../img/AMRF.png">
            </a>
        </div>
        <div class="col-lg-10 col-md-10">
            <p>
                Depuis 1971, l'Association des Maires Ruraux de France (AMRF) fédère, informe et représente
                près de 10000 maires de communes rurales pour défendre et promouvoir les enjeux spécifiques
                de la ruralité.<br/>
                Réseau convivial et solidaire d'associations départementales - en toute indépendance des
                pouvoirs et partis politiques - l'AMRF est un représentant incontournable du monde rural auprès
                des pouvoirs publics et des grands opérateurs nationaux.
            </p>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-6">
                <ul class="list-inline">
                    <li><a class="" href="/confidential">Déclaration de confidentialité</a></li>
                    <li><a class="" href="/mentions">Mentions Légales</a></li>
                    <li><a class="" href="http://www.amrf.fr" target="_blank">www.amrf.fr</a></li>
                    <li><a class="" href="#!">Questionnaire de satisfaction</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">© 2014 Copyright Text</div>
    </div>
</div>