<div class="container-fluid" id="laBar">
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('home') }}">
                <div class="logo hidden-xs hidden-md hidden-sm" id="logo"></div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('home') }}" id="title"><h1>Le Wiki des Maires</h1></a>

            <div class="input-group barSearch" id="sticky2">
                <input type="text" class="search form-control" placeholder="Rechercher une fiche projet"/>
                <span class="input-group-addon">
                            <div type="submit" class="btn btn-search"><i class="fa fa-search"></i></div>
                         </span>
            </div>
        </div>
        <div class="col-md-3 connect" id="sticky3">
            <div class="btn" data-toggle="modal" data-target="#formConnect">
                Accéder à votre espace
            </div>
        </div>
    </div>

</div>



