<div id="stickHeader">
    <div class="container-fluid connect">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('home') }}"><img src="{{ asset('/img/AMRF.png') }}" alt=""></a>
            </div>
            <div class="col-md-6">
                <div id="search">
                    <form action="">
                        <ul>
                            <li><input type="text" class="form-control" placeholder="Recherche une fiche projet"/></li>
                            <li>
                                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="col-md-3 text-right">
                <div class="btn" data-toggle="modal" data-target="#formConnect">
                    Accédez à votre espace
                </div>
            </div>
        </div>
    </div>
</div>
<div id="titleHeader">
    <a href="{{ path('home') }}" id="title"><h1>Le Wiki des Maires</h1></a>
</div>

