<div id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <a href="{{ path('home') }}">
                    <div class="logo hidden-xs hidden-md hidden-sm" id="logo"></div>
                </a>
            </div>
            <div class="col-lg-8 col-md-8">
                <a href="{{ path('home') }}"><h1>Le Wiki des Maires</h1></a>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="connect hidden-xs hidden-md hidden-sm">
                    <button type="button" class="btn" data-toggle="modal" data-target="#formConnect">
                        Espace Connexion
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>


