<div class="modal fade" id="formConnect">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body containerConnect">

                <div class="formConnect bck-maire">
                    <form action="/maire" method="post">
                        <h5 class="text-center">Maire</h5>
                        <div class="form-group">
                            <label for="login">n° INSEE</label>
                            <input id="login" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Mot de passe</label>
                            <input id="mdp" type="password" class="form-control">
                        </div>
                        <div class="saveAll">
                            <input name="group1" class="" type="checkbox" id="saveMaire">
                            <label class="labelSave" for="saveMaire">Se souvenir de moi</label>
                        </div>
                        <div class="containerConnect">
                            <button class="btn" type="submit" name="action">Connexion</button>
                        </div>
                        <div class="containerConnect">
                            <a href="#">Mot de passe oublié ?</a>
                        </div>

                    </form>
                </div>


                <div class="formConnect bck-part">
                    <form action="/partenaire" method="post">
                        <h5 class="text-center">Partenaire</h5>
                        <div class="form-group">
                            <label for="login">n° SIRET</label>
                            <input id="login" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Mot de passe</label>
                            <input id="mdp" type="password" class="form-control">
                        </div>
                        <div class="saveAll">
                            <input name="group1" class="" type="checkbox" id="savePart">
                            <label class="labelSave" for="savePart">Se souvenir de moi</label>
                        </div>
                        <div class="containerConnect">
                            <button class="btn" type="submit" name="action">Connexgition</button>
                        </div>
                        <div class="containerConnect">
                            <a href="#">Mot de passe oublié ?</a>
                        </div>
                    </form>
                </div>

            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
        </div>
    </div>
</div>
<div class="modal-overlay"></div>


{#<div class="modal fade" id="formConnect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4>Connexion</h4>
            </div>
            <div class="modal-body containerConnect">

                <div class="formConnect bck-maire">
                    <h5 class="center-align">Maire</h5>
                    <div class="form-group">
                        <label for="login">n° INSEE</label>
                        <input id="login" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Mot de passe</label>
                        <input id="mdp" type="password" class="form-control">
                    </div>
                    <div class="containerConnect">
                        <button class="btn" type="submit" name="action">Connection</button>
                    </div>
                    <div class="containerConnect">
                        <a href="#">Créer mon compte</a>
                    </div>
                </div>


                <div class="formConnect bck-part">
                    <h5 class="center-align">Partenaire</h5>
                    <div class="form-group">
                        <label for="login">n° SIRET</label>
                        <input id="login" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Mot de passe</label>
                        <input id="mdp" type="password" class="form-control">
                    </div>
                    <div class="containerConnect">
                        <button class="btn" type="submit" name="action">Connection </button>
                    </div>
                    <div class="containerConnect">
                        <a href="#">Créer mon compte</a>
                    </div>

                </div>

            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
        </div>
    </div>
</div>#}


<!--<div id="formConnect" class="modal">
    <div class="modal-content">
        <h3>Connexion</h3>
        <div class="containerConnect">
            <div class="card">
                <div class="formConnect">
                    <h5 class="center-align">Maire</h5>
                    <div class="input-field">
                        <input id="login" type="text" class="validate">
                        <label for="login">n° INSEE</label>
                    </div>
                    <div class="input-field">
                        <input id="mdp" type="password" class="validate">
                        <label for="last_name">Mot de passe</label>
                    </div>
                    <div class="containerConnect">
                        <div class="left-align valign-wrapper">
                            <a href="#">Créer mon compte</a>
                        </div>
                        <div class="input-field right-align">
                            <button class="btn" type="submit"
                                    name="action">Connection
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="formConnect">
                    <h5 class="center-align">Partenaire</h5>
                    <div class="input-field">
                        <input id="login" type="text" class="validate">
                        <label for="login">n° SIRET</label>
                    </div>
                    <div class="input-field">
                        <input id="mdp" type="password" class="validate">
                        <label for="last_name">Mot de passe</label>
                    </div>
                    <div class="containerConnect">
                        <div class="left-align valign-wrapper">
                            <a href="#">Créer mon compte</a>
                        </div>
                        <div class="input-field right-align">
                            <button class="btn" type="submit"
                                    name="action">Connection
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>
-->
