<div class="panel-body row ">
    <div class=" col-xs-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis enim ipsam iure placeat provident soluta
            velit? Accusamus at, beatae dolorem facere ipsum nobis porro provident qui sit voluptatem? Dicta,
            impedit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis enim ipsam iure placeat provident soluta
            velit? Accusamus at, beatae dolorem facere ipsum nobis porro provident qui sit voluptatem? Dicta,
            impedit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis enim ipsam iure placeat provident soluta
            velit? Accusamus at, beatae dolorem facere ipsum nobis porro provident qui sit voluptatem? Dicta,
            impedit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis enim ipsam iure placeat provident soluta
            velit? Accusamus at, beatae dolorem facere ipsum nobis porro provident qui sit voluptatem? Dicta,
            impedit!</p>
    </div>
    <div class="col-xs-4">
        <h4>Adresse</h4>
        <ul>
            <li>25 rue de l'avenue</li>
            <li>65432 Ville</li>
        </ul>
        <br>
        <h4>Contact</h4>
        <ul>
            <li><i class="fa fa-user" aria-hidden="true"></i>
                 Nom Prénom</li>
            <li><i class="fa fa-at"></i>
                 Mail</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>
                 Téléphone</li>
            <li><i class="fa fa-link"></i> Site internet</li>
            <li><i class="fa fa-facebook-square"></i> Facebook</li>
            <li><i class="fa fa-twitter-square"></i> Twitter</li>
            <li><i class="fa fa-linkedin-square"></i> Linkedin</li>
        </ul>
    </div>
</div>