<div class="panel-body row ">
    <div class=" col-xs-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eaque eos
            est ex fuga
            impedit
            magni odio pariatur repudiandae? Animi aperiam aut eius eos explicabo facere
            magnam
            repudiandae
            sit, tempore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
            aspernatur beatae
            ducimus
            eos fugit, id iste iusto laborum, nemo nostrum obcaecati officia quae
            quaerat quibusdam
            quis
            soluta temporibus, vel voluptate!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem
            doloremque
            ducimus
            ea
            eum excepturi inventore itaque magnam maxime nihil quibusdam quis, tempore
            voluptatem?
            Ab at
            deleniti distinctio earum sequi.</p>
    </div>
    <div class="col-xs-4">
        <h4>Adresse :</h4>
        <ul>
            <li>25 rue de l'avenue</li>
            <li>65432 Ville</li>
        </ul>
        <h4>Contact :</h4>
        <ul>
            <li>Nom Prénom</li>
            <li>Mail</li>
            <li>Téléphone</li>
            <li>Site internet</li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Linkedin</li>
        </ul>
    </div>
</div>