<div class="jumbotron project">
    <div class="row">
        <div class="col-sm-4 text-left">
            <h3>Thématiques</h3>
            <span class="label label-themat">Mobilité</span>
            <span class="label label-themat">Numérique</span>
            <span class="label label-themat">Aménagement du territoire</span>
        </div>
        <div class="col-sm-4 text-left">
            <h3>Mots-clefs</h3>
            <span class="label label-motCle">covoiturage</span>
            <span class="label label-motCle">court-voiturage</span>
            <span class="label label-motCle">transports</span>
            <span class="label label-motCle">voiture</span>
            <span class="label label-motCle">lien</span>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-9">
                <h3>Mettre en favori</h3>
            </div>
            <div class="col-sm-3 text-right">
                <button type="button" id="btnFavoris" class="btnFavoris">
                    <a href="#"></a><i class="fa fa-star"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" id="cityName">
                <div class="panel-heading text-left" role="tab" id="headingList">
                    <h4>Commune : SAINT JEAN PIED DE PORT</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Département : Essone</li>
                    <li class="list-group-item">CodePostal : 91xxx</li>
                    <li class="list-group-item">Population : 2000</li>
                    <li class="list-group-item">Code INSEE : 91411</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" id="contact">
                <div class="panel-heading text-left" role="tab" id="headingList">
                    <h4>Contact Mairie</h4>
                </div>
                <ul class="list-group text-left">
                    <li class="list-group-item">Nom du Maire : Yvan LUBRANESKI</li>
                    <li class="list-group-item">Tél Mairie : 160120799</li>
                    <li class="list-group-item">Tél mobile : @LesMolieres91</li>
                    <li class="list-group-item">Email</li>
                    <li href="#" class="list-group-item">Site internet : http://www.lesmolieres.fr</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mini-galery">
            <div class="img-preview">
                <img id="my-img2" src="http://via.placeholder.com/200x200" class="img-big"/>
            </div>
            <div class="img-list text-center">
                <img class="img-mini" src="http://via.placeholder.com/50x50"
                     onmouseover="showImg('my-img2','http://dummyimage.com/200x200/eb00eb/fff');"
                     onmouseout="hideImg('my-img2','http://via.placeholder.com/200x200');"/>
                <img class="img-mini" src="http://via.placeholder.com/50x50"
                     onmouseover="showImg('my-img2','http://dummyimage.com/200x200/009E3D/fff');"
                     onmouseout="hideImg('my-img2','http://via.placeholder.com/200x200');"/>
                <img class="img-mini" src="http://via.placeholder.com/50x50"
                     onmouseover="showImg('my-img2','http://dummyimage.com/200x200/33333/fff');"
                     onmouseout="hideImg('my-img2','http://via.placeholder.com/200x200');"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="year-budget">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-left" id="headingList">
                        <h4>Année de réalisation</h4>
                    </div>
                    <div class="panel-body">
                        2017
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-left" id="headingList">
                        <h4>Durée de réalisation</h4>
                    </div>
                    <div class="panel-body">
                        2017-2020
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-left" id="headingList">
                        <h4>Coût global</h4>
                    </div>
                    <div class="panel-body">
                        2000 €
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-left" id="headingList">
                        <h4>Cofinancements</h4>
                    </div>
                    <div class="panel-body">
                        non
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Description du projet</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit
            anim id est laborum.
        </p>
        <div class="divider"></div>
        <h3>Objectifs</h3>
        <p>
            Le maillage en transports collectifs étant faible, il y a un intérêt majeur à étudier des modes de
            transports collectifs nouveaux et complémentaires.
            Transformer le véhicule particulier en un mode nouveau de transport collectif
        </p>
        <div class="divider"></div>
        <h3>Partenaires mobilisés</h3>
        <p>
            Parc Naturel Régional de la Haute Vallée de Chevreuse
        </p>
        <div class="divider"></div>
        <h3>Résultats obtenus</h3>
        <p>
            En 4 mois, 80 inscrits sur la commune et déjà une quinzaine d'utilisateurs réguliers.
        </p>
        <div class="divider"></div>
        <h3>Difficultés rencontrées</h3>
        <p>
            Une masse critique d'utilisateurs est nécessaire pour que l'application propose à l'usager un grand
            nombre
            de choix. Le démarrage est donc long. Nous avons cependant bénéficié d'un partenariat entre
            l'application
            mobile et le Département au moment du lancement dans notre commune.
        </p>
        <div class="divider"></div>
        <h3>Conseils</h3>
        <p>
            Voir les expériences alentours, choisir une application qui est utilisée dans des territoires voisins
            et/ou
            travailler un partenariat avec son EPCI, Parc Naturel, Syndicat de transports ou toute autre
            organisation
            publique pertinente.
            Avoir un plan de communication articulé dans le temps et très visible
        </p>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading text-left" id="headingList">
                Pour plus d'informations
            </div>
            <ul class="list-group">
                <li class="list-group-item">Personne en charge du projet : Yvan LUBRANESKI - Frédéric FABRE</li>
                <li class="list-group-item">Fonction : Maire et 1er Adjoint</li>
                <li class="list-group-item">Email : lubraneski@gmail.com</li>
                <li class="list-group-item">Téléphone : 686279986</li>
                <li class="list-group-item">Documents complémentaires :</li>
            </ul>
        </div>
    </div>
</div>