<div class="row  resumeProject jumbotron ">
    <div class="">
        <div class="col-sm-3 mini-galery">
            <div class="img-preview">
                <img id="my-img2" src="http://via.placeholder.com/100x100" class="img-big"/>
            </div>
            <div class="img-list text-center">
                <img class="img-mini" src="http://via.placeholder.com/50x50"
                     onmouseover="showImg('my-img2','http://dummyimage.com/100x100/eb00eb/fff');"
                     onmouseout="hideImg('my-img2','http://via.placeholder.com/100x100');"/>
                <img class="img-mini" src="http://via.placeholder.com/50x50"
                     onmouseover="showImg('my-img2','http://dummyimage.com/100x100/009E3D/fff');"
                     onmouseout="hideImg('my-img2','http://via.placeholder.com/100x100');"/>
                <img class="img-mini" src="http://via.placeholder.com/50x50"
                     onmouseover="showImg('my-img2','http://dummyimage.com/100x100/33333/fff');"
                     onmouseout="hideImg('my-img2','http://via.placeholder.com/100x100');"/>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-md-12">
                    <h3>Projet Application Mobile Court-voiturage</h3>
                </div>
                <div class="col-md-12" id="city">
                    <span class="label label-commune">SAINT JEAN PIED DE PORT</span>
                    <span class="label label-commune">Pyrénées-Atlantiques</span>
                </div>
                <div class="col-md-12" id="theme">
                    <span class="label label-themat">Mobilité</span>
                    <span class="label label-themat">Aménagement du territoire</span>
                    <span class="label label-themat">Aménagement du territoire</span>
                </div>
                <div class="col-md-12">
                    <h3>Résumé du projet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-12 text-right">
                    <a href="{{ path('projet') }}"><div class="btn" href="{{ path('projet') }}" role="button">Voir la fiche complète</div></a>
                </div>
            </div>

        </div>
    </div>
</div>