<div class="form-group row">
    <div class="funkyradio">
        <div class="col-md-4">
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox1" class="check-themat"/>
                <label for="checkbox1">AMENAGEMENT DU TERRITOIRE</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox2" class="check-themat"/>
                <label for="checkbox2">CULTURE</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox3" class="check-themat"/>
                <label for="checkbox3">DEMOCRATIE LOCALE</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox4" class="check-themat"/>
                <label for="checkbox4">EDUCATION</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox5" class="check-themat"/>
                <label for="checkbox5">ECONOMIE</label>
            </div>
        </div><!--end of col1-->
        <div class="col-md-4">
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox6" class="check-themat"/>
                <label for="checkbox6">ENVIRONNEMENT</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox7" class="check-themat"/>
                <label for="checkbox7">EUA ET ASSAINISSEMENT</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox8" class="check-themat"/>
                <label for="checkbox8">MOBILITE</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox9" class="check-themat"/>
                <label for="checkbox9">NUMERIQUE</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox10" class="check-themat"/>
                <label for="checkbox10">RELATIONS INTERNATIONALES</label>
            </div>
        </div><!--end of col2-->
        <div class="col-md-4">
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox11" class="check-themat"/>
                <label for="checkbox11">SANTE</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox12" class="check-themat"/>
                <label for="checkbox12">SOCIAL</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox13" class="check-themat"/>
                <label for="checkbox13">SERVICES DE PROXIMITE</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="thematique[]" id="checkbox14" class="check-themat"/>
                <label for="checkbox14">TOURISME</label>
            </div>
        </div><!--end of col3-->
    </div><!--end of funkyradio-->
</div><!--end row/ form-group multi choice-->


