<div class="form-group row scroll-in">
        <div class="col-sm-4">
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox1" class="check-limit"/>
                <label for="checkbox1">Aménagement du territoire</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox2" class="check-limit"/>
                <label for="checkbox2">Culture</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox3" class="check-limit"/>
                <label for="checkbox3">Démocratie locale</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox4" class="check-limit"/>
                <label for="checkbox4">Education</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox5" class="check-limit"/>
                <label for="checkbox5">Economie</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox6" class="check-limit"/>
                <label for="checkbox6">Environnement</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox7" class="check-limit"/>
                <label for="checkbox7">Eau et assainissement</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox8" class="check-limit"/>
                <label for="checkbox8">Mobilité</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox9" class="check-limit"/>
                <label for="checkbox9">Numérique</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox10" class="check-limit"/>
                <label for="checkbox10">Relations internationnales</label>
            </div>
        </div><!--end of col2-->
        <div class="col-sm-4">
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox11" class="check-limit"/>
                <label for="checkbox11">Santé</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox12" class="check-limit"/>
                <label for="checkbox12">Social</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox13" class="check-limit"/>
                <label for="checkbox13">Services de proximité</label>
            </div>
            <div>
                <input type="checkbox" name="thematique[]" id="checkbox14" class="check-limit"/>
                <label for="checkbox14">Tourisme</label>
            </div>
        </div>
</div>
