#header {
  height: 25%;
  text-align: center;
  width: 100%;
  .logo {
    display: inline-block;

    background-color: rgba(255, 255, 255, 1);
    background-image: url('../img/AMRF.png');
    background-position: center;
    background-repeat: no-repeat;

    background-size: contain;
    z-index: 10000;
    top: 5px;
    left: 10px;
    position: fixed;
    width: 200px;
    height: 100px;
    @include borderRadius(5px);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  }
  .connect {
    display: inline-block;
    float: right;
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
    button {
      padding: 20px;
    }
  }
  h1 {
    display: inline-block;
    margin: 10% auto;
    font-size: 4em;
    font-family: $secondeFont, sans-serif;
    color: #FFFFFF;
    /*text-shadow: 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, -1px 0 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 5px 5px 0px rgba(0, 0, 0, 0.6);*/
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  }
}
