{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}AMRF{% endblock %}
{% block body %}
    <h2>À propos de l'AMRF</h2>
    <div class="jumbotron">
        <h3>L'association des maires ruraux de France</h3>
        <p>Créée en 1971, l'Association des maires ruraux de France (AMRF) fédère près de 10&nbsp;000&nbsp;maires
            ruraux au sein d'un réseau solidaire, en toute indépendance des pouvoirs et partis politiques.
            Rassemblés autour d'une identité forte, les membres de l'AMRF portent la voix des communes
            ancrées sur les territoires ruraux pour défendre leurs enjeux spécifiques.<br/>
            Forte de son militantisme et de sa représentativité, l'AMRF est aujourd'hui l'interlocutrice
            incontournable des communes rurales auprès des pouvoirs publics et des grands opérateurs
            nationaux.</p>
    </div>
    <div class="jumbotron">
        <h3>Défendre les enjeux de la ruralité</h3>
        <p>Dans un esprit militant, l'AMRF fédère, informe et représente les maires des communes de moins
            de 3&nbsp;500&nbsp;habitants, partout en France.<br/>
            L'association s'engage au quotidien - au niveau local et national - pour défendre et promouvoir
            les enjeux spécifiques de la ruralité. Elle participe au débat public en formulant des propositions
            et en réalisant des interventions. Elle produit des manifestes et publie des rapports et des
            contributions lors des discussions parlementaires.</p>
    </div>
    <div class="jumbotron">
        <h3>Un réseau au service des territoires ruraux</h3>
        <p>Les associations départementales, en totale autonomie, représentent les maires ruraux auprès
            des interlocuteurs publics du département et services déconcentrés (Préfecture, Conseil
            Départemental, Inspection d'Académie, Gendarmerie...) et des opérateurs de services.<br/>
            Formant un réseau de proximité efficace, elles sont une force d'information et de mobilisation très
            réactive.</p>
    </div>
{% endblock %}