{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
    <h2>Contactez nous</h2>
    <div class="jumbotron">
        <h3>Par téléphone:</h3>
        <p>Numero de téléphone..........</p>
    </div>
    <div class="jumbotron">
        <h4>Ou envoyez nous un message:</h4><br>
        <form role="form" method="post">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Prénom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Téléphone</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="col-sm-6">
                    <label>Je suis...</label>
                    <select class="form-control" id="subject" name="subject">
                        <option selected value="na" hidden>Choisir une option</option>
                        <option value="service">Maire</option>
                        <option value="suggestions">Partenaire</option>
                        <option value="press">Journaliste</option>
                        <option value="product">Autre</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>Objet</label>
                    <select class="form-control" id="subject" name="subject">
                        <option selected value="na" hidden>Choisir une option</option>
                        <option value="product">Demande de Renseignement</option>
                        <option value="adhésion">Demande d'Adhésion</option>
                        <option value="service">Problème de Connection</option>
                        <option value="suggestions">Fiche Projet</option>
                        <option value="autre">Autre</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <textarea class="form-control textarea" type="textarea" id="message" placeholder="Message..."
                              maxlength="1200" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}