{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Mentions légales{% endblock %}
{% block body %}
    <h2>Mentions Legales</h2>
    <div class="row jumbotron">
        <div class="accordion" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3>ACCEPTATION DES CONDITIONS INHERENTES À L’UTILISATION</h3>
                    </a>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                     data-parent="#accordion">
                    <p class="card-body">
                        L'Editeur du Site détient et exploite ce site. Son utilisation implique que vous acceptez
                        l’ensemble des termes, conditions et notifications contenus et cités dans ce document (les
                        «conditions d’utilisation»). Ces conditions générales d’utilisation ne s’applique qu’au site et
                        aux services de ce Site, et à aucun site tiers.

                        Si vous n’acceptez pas ces conditions d’utilisation, veuillez ne pas utiliser ce site. Nous nous
                        réservons le droit, à notre discrétion, de mettre à jour ou de modifier les conditions
                        d’utilisation. Par conséquent, veuillez vérifier régulièrement ces dernières afin de savoir si
                        elles ont été modifiées. Nous considérons que vous acceptez une modification des conditions
                        d’utilisation si vous continuez à utiliser le site après publication de cette modification.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <h3>DROITS DE PROPRIETE</h3>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                     data-parent="#accordion">
                    <p class="card-body">
                        Vous reconnaissez et acceptez que l’ensemble du contenu et des éléments disponibles sur ce site
                        - en particulier, mais de façon non limitative, les cartes, les programmes et logiciels, les
                        bases de données, le texte, les photos, les films, les sons, la musique, la présentation et les
                        logos - sont protégés par des copyrights, droits de protection de base de données, marques
                        déposées, marques de service, brevets, secrets industriels ou autres droits et lois sur la
                        propriété. Le contenu et les éléments disponibles sont, soit exclusivement détenus et contrôlés
                        par l’Editeur du Site, soit utilisés sous licence. Ces conditions d’utilisation s’appliquent à
                        tout le contenu et à tous les éléments disponibles sur le site.

                        De plus, lorsque vous utilisez un contenu et des éléments sous licence d’un tiers, il est
                        possible que vous soyez lié par les contrats de licence de ce dernier. Lorsque vous recevez des
                        informations provenant d’un tiers, l’identité de celui-ci vous est indiquée par un logo ou par
                        une autre indication.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <a data-toggle="collapse" href="#collapseThree" aria-expanded="true"
                       aria-controls="collapseThree">
                        <h3>CONCESSION DE LICENCE LIMITEE</h3>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                     data-parent="#accordion">
                    <p class="card-body">
                        Le contenu et les éléments disponibles sur ce site peuvent contenir d’autres avis de propriété
                        ou décrire des produits, services, processus ou technologies appartenant à des tiers. Aucune
                        partie du présent document ne doit être considérée comme constituant une licence accordée à
                        l’utilisateur sur un copyright, une marque, un brevet ou tout autre droit de propriété
                        intellectuelle détenu par une tierce partie, à l’exception du droit d’utilisation limité qui est
                        expressément défini ci-dessous:

                        Dans le cadre d’une licence non exclusive et non transférable, vous êtes autorisé à imprimer ou
                        à télécharger un exemplaire des éléments ou du contenu de ce site vers un seul ordinateur
                        individuel pour votre utilisation personnelle et non commerciale, à condition que vous gardiez
                        intacts tous les avis de copyright et de propriété. Vous pouvez utiliser le site à des fins
                        légales et pour votre utilisation personnelle, mais en aucun cas dans un but lucratif ou
                        commercial. Si vous souhaitez des éléments d’information pour rédiger un article sur le site, un
                        dossier presse est disponible à votre demande, seules les photos contenues dans ce dossier
                        presse peuvent être publiées.

                        Vous vous engagez à ne jamais vendre, céder sous licence, louer, distribuer, transmettre,
                        copier, reproduire, présenter publiquement, exécuter publiquement, publier, adapter, éditer,
                        modifier, décompiler, désassembler ce contenu ou ces éléments, et à ne jamais reconstituer la
                        logique du programme, ni créer d’ouvre dérivée à partir de ce contenu ou de ces éléments. Vous
                        vous engagez à ne jamais utiliser le contenu ou les éléments disponibles sur le site dans un
                        quelconque but commercial. La récupération systématique de données ou autre depuis ce site pour
                        créer ou établir, directement ou indirectement, une collection, une compilation, une base de
                        données ou un répertoire sans l’autorisation écrite de l’Editeur du Site est interdite. En
                        outre, l’utilisation du contenu ou des éléments à toute fin non expressément autorisée dans ces
                        conditions d’utilisation est interdite. Vous ne jouissez d’aucun droit de propriété sur le
                        contenu, les éléments et leurs dérivés, et l’Editeur du Site est le seul détenteur de tels
                        droits.Le non-respect de l’une des clauses de ces conditions d’utilisation mettra fin à
                        cette licence automatiquement et sans préavis de la part de l’Editeur du Site.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                    <a data-toggle="collapse" href="#collapseFour" aria-expanded="true"
                       aria-controls="collapseFour">
                        <h3>UTILISATION DE CE SITE</h3>
                    </a>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                     data-parent="#accordion">
                    <p class="card-body">
                        Vous n’êtes pas autorisé à utiliser le site ou ses services à des fins illégales telles que la
                        publication, la distribution ou la diffusion d’un élément ou d’une information illégale, et en
                        particulier: <br>
                        <b>- toutes données privatives appartenant à un tiers, notamment les marques déposées et données
                            protégées par copyright (autres que celles pour lesquelles vous possédez une licence);</b>
                        <br>
                        <b>- tout contenu erroné, diffamatoire, obscène, raciste ou incitant à la haine;</b> <br>
                        <b>- tout contenu visant à harceler un tiers ou à compromettre sa vie privée;</b> <br>
                        <b>- tout contenu incitant au crime, au suicide, à la discrimination, à la haine ou à la
                            violence, pour des motifs de différence raciale, ethnique ou de nationalité;</b> <br>
                        <b>- tout contenu susceptible de nuire à des utilisateurs mineurs ou de porter atteinte à la
                            dignité humaine;</b><br>
                        <b>- tout contenu faisant l’éloge du nazisme ou niant l’holocauste.</b><br>
                        En outre, vous ne devez pas utiliser le site dans le but de recueillir des informations
                        personnelles, notamment des adresses Internet, concernant d’autres utilisateurs du site.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFive">
                    <a data-toggle="collapse" href="#collapseFive" aria-expanded="true"
                       aria-controls="collapseFive">
                        <h3>EXCLUSION DE GARANTIE</h3>
                    </a>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive"
                     data-parent="#accordion">
                    <p class="card-body">
                        Tout contenu est propre au site Maires Ruraux de France. Ce site peut contenir des inexactitudes
                        techniques ou des erreurs typographiques. l’Editeur du Site se réserve le droit de modifier ou
                        de supprimer toute information ou contenu apparaissant sur ce site sans avis préalable. Ni
                        l’Editeur du Site ni ses fournisseurs de contenu, ni la société prestataire des services
                        Internet permettant de faire fonctionner cette application web, n’offrent de garantie quant à
                        leur contenu. L’utilisateur assume tous les risques d’utilisation. Aucune responsabilité
                        n’incombe à la l’Editeur du Site, à ses fournisseurs, ou ses prestataires de services, quand à
                        l’utilisation des éléments d’information contenus dans ce site.

                        LE CONTENU ET LES ELEMENTS FOURNIS SUR CE SITE LE SONT SANS AUCUNE GARANTIE, IMPLICITE OU
                        EXPLICITE. AUCUN AVIS NI AUCUNE INFORMATION FOURNIS PAR L’EDITEUR DU SITE OU L’HEBERGEUR, LEURS
                        SOCIETES MÈRES OU AFFILIEES OU LEURS EMPLOYES RESPECTIFS NE PEUT CREER DE GARANTIE. NI L’EDITEUR
                        DU SITE, NI L’HEBERGEUR, NI LEURS SOCIETES MÈRES OU AFFILIEES NE GARANTISSENT LA PRECISION, LA
                        FIABILITE ET L’EXACTITUDE DU CONTENU ET DES ELEMENTS DU SITE; NI LA DISPONIBILITE DU SITE EN
                        TOUT LIEU ET À TOUT MOMENT; NI L’ABSENCE DE VIRUS OU D’AUTRE ELEMENT NUISIBLE DANS LE CONTENU,
                        LES INFORMATIONS ET LES LOGICIELS, ET DANS TOUT ELEMENT ACCESSIBLE À PARTIR DU SITE.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingSix">
                    <a data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                        <h3>LIMITATION DE RESPONSABILITE</h3>
                    </a>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix"
                     data-parent="#accordion">
                    <p class="card-body">
                        L’EDITEUR DU SITE, L’HEBERGEUR, LEURS SOCIETES MÈRES OU AFFILIEES, PARTENAIRES, FILIALES OU
                        CONCEDANTS DE LICENCE NE SONT EN AUCUN CAS RESPONSABLES DE DOMMAGES DIRECTS OU INDIRECTS - Y
                        COMPRIS, MAIS DE FAÇON NON LIMITATIVE, DE LA PERTE DE BENEFICE, DE CLIENTÈLE OU DE DONNEES - DUS
                        À L’UTILISATION OU À L’INCAPACITE D’UTILISER LE SITE OU LE CONTENU ET LES ELEMENTS AUXQUELS
                        CELUI-CI PERMET D’ACCEDER. CETTE LIMITATION S’APPLIQUE, EN MATIÈRE DELICTUELLE COMME
                        CONTRACTUELLE, MÊME SI L’EDITEUR DU SITE, OU L’HEBERGEUR ONT ETE INFORME DE LA POSSIBILITE D’UN
                        TEL DOMMAGE.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingSeven">
                    <a data-toggle="collapse" href="#collapseSeven" aria-expanded="true"
                       aria-controls="collapseSeven">
                        <h3>INDEMNISATION</h3>
                    </a>
                </div>
                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven"
                     data-parent="#accordion">
                    <p class="card-body">
                        A sa demande, vous vous engagez à indemniser l’Editeur du Site, ses sociétés mères ou affiliées,
                        partenaires, filiales ou concédants de licence ainsi que leurs employés, contractants, agents et
                        dirigeants, en cas de mise en cause de leur responsabilité, ainsi que de réclamations et frais
                        (dont honoraires d’avocat) découlant de votre utilisation ou de vos erreurs dans l’utilisation
                        du site. Dans la mesure du possible, vous acceptez de coopérer avec l’Editeur du Site pour sa
                        défense dans le cadre de toute affaire dans laquelle vous devriez offrir une indemnisation.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingEight">
                    <a data-toggle="collapse" href="#collapseEight" aria-expanded="true"
                       aria-controls="collapseEight">
                        <h3>SITES TIERS</h3>
                    </a>
                </div>
                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight"
                     data-parent="#accordion">
                    <p class="card-body">
                        Aucune référence à des produits, services, processus, liens hypertexte de tiers ou autre
                        information par citation d’un nom de marque, d’une marque déposée, d’un fabricant, d’un
                        fournisseur ou autre ne constitue ni ne sous-entend une approbation, caution ou recommandation
                        de la part de l’Editeur du Site, de ses sociétés mères ou affiliées, partenaires, filiales ou
                        concédants de licence. De plus, le site peut vous mettre en relation avec d’autres sites
                        Internet par le biais notamment de recherches automatiques, mais ces sites ne sont pas sous le
                        contrôle de la l’Editeur du Site. Vous reconnaissez que l’Editeur du Site n’est pas responsable
                        de l’exactitude, du respect de copyright, de la légalité, de la décence ou de tout autre aspect
                        des sites tiers.
                        Tout lien hypertexte provenant d’un site tiers et aboutissant sur ce
                        site nécessite l’accord préalable de l’Editeur du Site, et en particulier les liens vers une
                        page autre que la page d’accueil. La demande d’un tel accord peut être faite en adressant un
                        courrier à l’aide du formulaire de contact disponible sur ce site.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingNine">
                    <a data-toggle="collapse" href="#collapseNine" aria-expanded="true"
                       aria-controls="collapseNine">
                        <h3>POLITIQUE DE CONFIDENTIALITE</h3>
                    </a>
                </div>
                <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine"
                     data-parent="#accordion">
                    <p class="card-body">
                        L’Editeur du site a pour principe de protéger la vie privée de ses utilisateurs. Vous disposez
                        en pied de page de chaque page du site d’un lien vers la politique de confidentialité
                        (Déclaration de confidentialité) mis en place par l’Editeur du site. Veuillez la consulter.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTen">
                    <a data-toggle="collapse" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                        <h3>CONCESSION PAR L’UTILISATEUR D’UNE LICENCE LIMITEE A L’EDITEUR DU SITE</h3>
                    </a>
                </div>
                <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen"
                     data-parent="#accordion">
                    <p class="card-body">
                        En publiant, soumettant ou transmettant de toute autre manière des informations, un contenu ou
                        des éléments vers ce site, y compris, mais de façon non limitative, des feedbacks (retour
                        d’informations), données, réponses, questions, commentaires, suggestions, projets, idées, etc.,
                        1. sauf cas prévu par la loi, vous autorisez l’Editeur du Site, ses sociétés mères et affiliées,
                        partenaires, filiales et titulaires de licence, à utiliser, reproduire, afficher, exécuter,
                        adapter, modifier, distribuer, faire distribuer et promouvoir les informations, le contenu ou
                        les éléments sous quelque forme que ce soit, en quelque lieu que ce soit et pour quelque but
                        commercial ou non que ce soit, sans émettre de restriction ni attendre de compensation, et
                        2. vous garantissez et déclarez que vous possédez, ou contrôlez d’une autre manière, tous les
                        droits liés au contenu et que la diffusion publique et l’utilisation de votre contenu par
                        l’Editeur du Site n’affectera et n’enfreindra pas les droits d’un tiers.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingEleven">
                    <a data-toggle="collapse" href="#collapseEleven" aria-expanded="true"
                       aria-controls="collapseEleven">
                        <h3>CONSENTEMENT DE L’UTILISATEUR RELATIF A LA VERIFICATION ET LA DIVULGATION</h3>
                    </a>
                </div>
                <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven"
                     data-parent="#accordion">
                    <p class="card-body">
                        L’Editeur du Site n’a pas d’obligation de vérification des informations résidant sur son site ou
                        transmises à celui-ci. Cependant, toute personne utilisant le site accepte que l’Editeur du Site
                        vérifie périodiquement le contenu de celui-ci, (1) pour se conformer à une loi, à un règlement
                        ou à une demande des autorités; (2) pour faire fonctionner le site correctement ou pour se
                        protéger et protéger ses utilisateurs; ou (3) pour toute autre raison, à sa seule discrétion.
                        L’Editeur du Site se réserve le droit de modifier, de refuser ou de supprimer toute information
                        résidant sur le site ou transmise à celui-ci si l’Editeur du Site considère, à sa seule
                        discrétion, que cette information est inacceptable ou en infraction avec les présentes
                        conditions d’utilisation.

                        Sauf cas prévu par la loi, si un utilisateur des données de ce site fournit à ce Site des
                        informations, y compris, mais de façon non limitative, des données, réponses, questions,
                        commentaires, suggestions, projets, idées, etc., ces informations seront considérées comme non
                        confidentielles et l’Editeur du Site ne s’engage pas à les protéger de la divulgation.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwelve">
                    <a data-toggle="collapse" href="#collapseTwelve" aria-expanded="true"
                       aria-controls="collapseTwelve">
                        <h3>PROCEDURE DE RECLAMATION POUR CONTREFAÇON</h3>
                    </a>
                </div>
                <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve"
                     data-parent="#accordion">
                    <p class="card-body">
                        Si vous pensez que votre travail a été copié et qu’il est accessible sur ce site d’une manière
                        constituant une contrefaçon, vous pouvez en informer l’Editeur du Site par l’intermédiaire du
                        formulaire de contact mis à disposition sur ce site.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtenn">
                    <a data-toggle="collapse" href="#collapseThirteen" aria-expanded="true"
                       aria-controls="collapseThirteen">
                        <h3>LOI APPLICABLE ET TRIBUNAL COMPETENT</h3>
                    </a>
                </div>
                <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen"
                     data-parent="#accordion">
                    <p class="card-body">
                        Ces conditions d’utilisation seront régies et interprétées par les lois Françaises. Les contrats
                        de licence régissant votre utilisation d’éléments tiers sur le site peuvent contenir des
                        dispositions exigeant l’intervention de tribunaux étrangers pour la résolution de litiges liés à
                        ces contrats.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFourteen">
                    <a data-toggle="collapse" href="#collapseFourteen" aria-expanded="true"
                       aria-controls="collapseFourteen">
                        <h3>DIVISIBILITE ET INTEGRALITE</h3>
                    </a>
                </div>
                <div id="collapseFourteen" class="collapse" role="tabpanel" aria-labelledby="headingFourteen"
                     data-parent="#accordion">
                    <p class="card-body">
                        Sauf mention contraire dans le présent document, cet accord constitue la totalité du contrat
                        passé entre vous et l’Editeur du Site en ce qui concerne le site, et il annule et remplace
                        toutes les communications et propositions antérieures ou simultanées (qu’elles soient orales,
                        écrites ou électroniques) relatives à ce site entre vous et l’Editeur du Site, ses sociétés
                        mères ou affiliées ou concédants de licence. Si une partie de ces conditions d’utilisation était
                        considérée comme invalide ou inapplicable, elle devrait être interprétée selon la loi en vigueur
                        de manière à identifier au mieux les intentions initiales des parties, et le reste des présentes
                        des conditions demeurera en vigueur.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFifteen">
                    <a data-toggle="collapse" href="#collapseFifteen" aria-expanded="true"
                       aria-controls="collapseFifteen">
                        <h3>RESILIATION</h3>
                    </a>
                </div>
                <div id="collapseFifteen" class="collapse" role="tabpanel" aria-labelledby="headingFifteen"
                     data-parent="#accordion">
                    <p class="card-body">
                        L’Editeur du Site se réserve le droit, à sa seule discrétion, de mettre fin à votre accès à la
                        totalité ou à une partie de ce site, avec ou sans préavis.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingSixteen">
                    <a data-toggle="collapse" href="#collapseSixteen" aria-expanded="true"
                       aria-controls="collapseSixteen">
                        <h3>EXPORTATION</h3>
                    </a>
                </div>
                <div id="collapseSixteen" class="collapse" role="tabpanel" aria-labelledby="headingSixteen"
                     data-parent="#accordion">
                    <p class="card-body">
                        Vous vous engagez à ne jamais exporter vers quelque destination que ce soit toute partie du
                        contenu ou des éléments qui vous sont fournis, ou tout produit directement obtenu par ce contenu
                        ou ces éléments, sauf si cela est en conformité avec les lois, règlements et règles en vigueur
                        en matière d’exportation.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingSeventeen">
                    <a data-toggle="collapse" href="#collapseSeventeen" aria-expanded="true"
                       aria-controls="collapseSeventeen">
                        <h3>AVIS DE COPYRIGHT ET DE MARQUES DEPOSEES</h3>
                    </a>
                </div>
                <div id="collapseSeventeen" class="collapse" role="tabpanel" aria-labelledby="headingSeventeen"
                     data-parent="#accordion">
                    <p class="card-body">
                        Maires Ruraux de France. Tous droits réservés.

                        La reproduction de tout élément du présent site ou de tout autre contenu se trouvant sur le site
                        autre que ceux expressément envisagés dans le présent document est strictement interdite.
                        L’utilisation de tous les documents et graphiques associés ainsi que de tout autre élément
                        fourni sur ce site est soumise aux conditions d’utilisation figurant ci-dessus.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingEighteen">
                    <a data-toggle="collapse" href="#collapseEighteen" aria-expanded="true"
                       aria-controls="collapseEighteen">
                        <h3>MARQUES DEPOSEES</h3>
                    </a>
                </div>
                <div id="collapseEighteen" class="collapse" role="tabpanel" aria-labelledby="headingEighteen"
                     data-parent="#accordion">
                    <p class="card-body">
                        Le nom Maires Ruraux de France, son logo, ainsi que tous les noms de produits et de services,
                        dessins marques et slogans s’y rapportant sont des marques déposées, marques de service ou
                        marques de commerce déposées de l’Editeur du Site, et ils ne peuvent pas être utilisés à des
                        fins commerciales sans son consentement écrit préalable. Toutes les autres marques de produits
                        et de services de ce site sont des marques déposées de leurs propriétaires respectifs.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingNineteen">
                    <a data-toggle="collapse" href="#collapseNineteen" aria-expanded="true"
                       aria-controls="collapseNineteen">
                        <h3>AUTRES AVIS DE COPYRIGHT</h3>
                    </a>
                </div>
                <div id="collapseNineteen" class="collapse" role="tabpanel" aria-labelledby="headingNineteen"
                     data-parent="#accordion">
                    <p class="card-body">
                        Les autres avis de copyright concernent les données provenant de tiers utilisées pour créer ce
                        service Internet.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwenty">
                    <a data-toggle="collapse" href="#collapseTwenty" aria-expanded="true"
                       aria-controls="collapseTwenty">
                        <h3>CONTACT</h3>
                    </a>
                </div>
                <div id="collapseTwenty" class="collapse" role="tabpanel" aria-labelledby="headingTwenty"
                     data-parent="#accordion">
                    <p class="card-body">
                        Pour obtenir davantage d’informations relatives aux questions juridiques contenues dans ces
                        conditions d’utilisation, ou à des questions ou problèmes concernant ce service, veuillez écrire
                        en utilisant le formulaire de contact mis à votre disposition sur ce site.
                    </p>
                </div>
            </div>
        </div>
{% endblock %}