/* nom du projet */
h2 {
  color: $color1;
}


/* position des thématiques*/
.theme-city span
{
  font-size: 15px;
}

.panel-default
{
  margin-top: 35px;
}

.main-theme
{
  padding-left : 15px;
  margin-left: 20px;
}

.second-theme
{
  padding-left: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

/* blocs Commune + contact Mairie */
#cityName, #contact {
  margin-top: 50px;
}

#cityName .collapsed {
  margin-right: 70px;
}

#headingList {
  background-color: $color1;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  a {
    font-size: 1.5em;
    line-height: 1em;
    text-decoration : none;
  }
}

/* petits blocs année et budget */
.year-budget {
  padding-left: 15px;

  h3 {
    font-size: .6em;
  }
}

/* gestion des photos */
img {
  border:1px solid black;
}

.thumb {
  position:relative;
  top:0;
  left:0;
  a {
    margin:0;
    text-decoration:none;
    .grand {
      display:block;
      position:absolute;
      width:0;
      }
    :hover .grand, .thumb a:focus .grand {
      position:absolute;
      top:80px;
      left:0;
      width:300px;
      height:225px;
      }
    }
}

/* éléments de description du projet */
.description-title {
  margin: 30px 20px 10px 10px;

}
.description-body {
  margin: 10px 20px 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

/* gallerie de photo */
.mini-galery {
  margin-top: 80px;
  .img-big {
    margin: 10px;
    @include borderRadius(5px);
  }
  .img-preview {
    text-align: center;
  }
  .img-mini {
    margin: 5px;
    @include borderRadius(2px);
    transition: all .2s ease-in-out;
  }
  .img-mini:hover {
    transform: scale(1.1);
  }
}
