footer {
  bottom: 0;
  border-top: 2px solid lighten($color1, 100%);
  background-color: $color1;
  max-height: 50px;
  width: 100%;
  color: #FFF;
  padding: 10px 10px;
  z-index: 200;
  position: fixed;
}