.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.select select {
  @include colortext1($color1, 100%);
  @include colorback1($color1, 20%);
  @include borderback1(2px, $color1, 20%);
  display: inline-block;
  width: 100%;
  cursor: pointer;
  height: 50px;
  padding: 10px 15px;
  outline: 0;
  border-radius: 5px;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  @include colorback1($color1, 100%);
  @include colortext1($color1, 20%);
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #fff transparent transparent transparent;
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: lighten($color1, 20%);
}

.select select:disabled ~ .select_arrow {
  border-top-color: lighten($color1, 90%);
}
.filter {
  padding: 10px 5px;
  label {
    margin-left: 20px;
  }
  input{
    @include colorback1($color1, 20%);
    @include colortext1($color1, 100%);
    padding: 10px;
    margin-left: 10px;
    font-size: 1.2em;
    text-align: right;
    width: 100px!important;
  }
}