/**
* Colors
 */
$backs: ("user", "publicpage", "project", "partner", "mayor", "favorite", "company", "dictionary");

$color1: #092537;
$colorbody: lighten($color1, 85%);

$label1: rgba(0, 158, 61, .99);
$label2: rgba(203, 203, 203, 0.99);
$label3: rgba(240, 173, 78, 0.99);

/**
* Typo
 */
$font1: 'Source Sans Pro';
$font2: 'Cabin Condensed';
$font3: 'ERASDEMI';