{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Annuaire des partenaires{% endblock %}
    {% block navbar %}
        {% set options = {'status':2} %}
        {% include 'AMRFPublicRooterBundle::components/navbar.html.twig' with options %}
    {% endblock %}
{% block body %}
    <h2>Annuaire des partenaires</h2>
    <form>
        <div class="row jumbotron">
            <h3>Choisir par nom</h3>
            <div class="col-sm-12 text-center">
                <ul class="pagination">
                    {% for letter in 'a'|upper..'z'|upper %}
                        <li><a href="#{{ letter }}">{{ letter }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <h3>Choisir par secteur d'activité</h3>
            <div class="col-md-12">
                    <div class="row scroll-in">
                        <div class="col-xs-3">
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="alimentation"/> <label for="alimentation">Alimentation</label>
                            </div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="assurance"/> <label for="assurance">Assurance</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="banque"/> <label for="banque">Banque</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="collectivite"/> <label for="collectivite">Collectivité</label>
                            </div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="commerce"/> <label for="commerce">Commerce</label></div>

                        </div>
                        <div class="col-xs-3">
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="dechets"/> <label for="dechets">Déchets</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="democratie locale"/> <label for="democratie locale">Démocratie
                                    locale</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="developpement local"/> <label for="developpement local">Développement
                                    local</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="economie"/> <label for="economie">Économie</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="education"/> <label for="education">Éducation</label></div>
                        </div>
                        <div class="col-xs-3">
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="energie"/> <label for="energie">Énergie</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="equipement"/> <label for="equipement">Équipement</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="finances"/> <label for="finances">Finances</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="formation"/> <label for="formation">Formation</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="internet"/> <label for="internet">Internet</label></div>
                        </div>
                        <div class="col-xs-3">
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="numerique"/> <label for="numerique">Numérique</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="sante"/> <label for="sante">Santé</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="services publics"/> <label for="services publics">Services
                                    publics</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="social"/> <label for="social">Social</label></div>
                            <div><input name="secteur[]" class="form-control check-limit" type="checkbox"
                                        id="telephonie"/> <label for="telephonie">Téléphonie</label></div>
                        </div>
                    </div>


                </div>
            </div>

    </form>
    <!-- results -->
    <div class="row jumbotron">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
               aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <div class="col-xs-4">
                            <img src="http://via.placeholder.com/70x70">
                        </div>
                        <div class="col-xs-5">
                            <h3>Nom du partenaire</h3>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="btn btn-collapse"><i class="fa fa-angle-double-down"></i></div>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                {% include 'AMRFPublicRooterBundle::components/partComponent.html.twig' %}
            </div>
        </div>

    </div>
    <div class="row text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
{% endblock %}



