{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Annuaire des partenaires{% endblock %}
    {% block navbar %}
        {% include 'AMRFPublicRooterBundle::components/navbarPart.html.twig' %}
    {% endblock %}
{% block body %}
    <h2>Annuaire des partenaires</h2>
    <form>
        <div class="row jumbotron">
            <h3>Choisir par nom</h3>
            <div class="col-md-12" align="center">
                <ul class="pagination text-center">
                    {% for letter in 'a'|upper..'z'|upper %}
                        <li class="waves-effect"><a href="#{{ letter }}">{{ letter }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <h3>Choisir par secteur d'activité</h3>
            <div class="col-md-12">
                {% include 'AMRFPublicRooterBundle::components/thematiques.html.twig' %}
            </div>
        </div>
    </form>
    <!-- results -->
    <div class="row jumbotron">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
               aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <div class="col-md-4 col-xs-4">
                            <img src="http://via.placeholder.com/70x70">
                        </div>
                        <div class="col-md-5 col-xs-8">
                            <h3>Nom du partenaire</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 text-right">
                                <div class="btn btn-collapse"><i class="fa fa-angle-double-down"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                {% include 'AMRFPublicRooterBundle::components/partComponent.html.twig' %}
            </div>
        </div>
        <div class="row text-center">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>



{% endblock %}



