{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Mes Favoris{% endblock %}
{% block body %}
    <h2>Mes favoris</h2>
    <!-- Nav tabs -->
    <div class="row tabPannel">
    <ul class="list-inline text-center" role="tablist">
        <li role="presentation" class="active">
            <a href="#projets" aria-controls="profil" role="tab" data-toggle="tab">Mes projets favoris</a>
        </li>
        <li role="presentation">
            <a href="#partenaires" aria-controls="mairie" role="tab" data-toggle="tab">Mes partenaires favoris</a>
        </li>
    </ul>
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane active jumbotron" id="projets">
        {% set options = {'thema':'false','pictures':'false','update': 'false', 'more': 'true'} %}
        {% include 'AMRFPublicRooterBundle::components/resumeProject.html.twig' with options %}
    </div>
    <div role="tabpanel" class="tab-pane" id="partenaires">
        <div class="jumbotron panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
               aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <div class="col-sm-4">
                            <img src="http://via.placeholder.com/70x70">
                        </div>
                        <div class="col-sm-5">
                            <h3>Nom du partenaire</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <div class="btn btn-collapse">
                                <i class="fa fa-angle-double-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                {% include 'AMRFPublicRooterBundle::components/partComponent.html.twig'%}
            </div>
        </div>
    </div>
    </div>{#end tabContent#}
    </div>{#end tabPannel #}
{% endblock %}