{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Mes Favoris{% endblock %}
{% block body %}

<h2>Mes projets favoris</h2>

    {% include 'AMRFPublicRooterBundle::components/resumeProject.html.twig' %}

{% endblock %}