{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Projet{% endblock %}
{% block body %}
    <h2>Partenariat Application Mobile Court-voiturage</h2> <!-- insertion php-->
    {% include 'AMRFPublicRooterBundle::components/projectComponent.html.twig' %}
{% endblock %}