{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Recherche{% endblock %}
{% block navbar %}
    {% set options = {'status':1} %}
    {% include 'AMRFPublicRooterBundle::components/navbar.html.twig' with options %}
{% endblock %}
{% block body %}
    <h2>RECHERCHE DE PROJETS</h2>
    {#<h3>Recherche</h3>#}
    <form action="test.php" method="post">
        <div class="jumbotron">
            <div class="input-group col-md-12">
                <input type="text" class="search form-control" autofocus/>
                <span class="input-group-addon">
                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div class="jumbotron">
            <div class="panel-group" id="more" role="tablist" aria-multiselectable="true">
                <a data-toggle="collapse" data-parent="#more" href="#collapseMore"
                   aria-expanded="true" aria-controls="collapseMore">
                    <div class="panel-heading text-center" role="tab" id="headingMore">
                        <h3>Recherche avancée <i class="fa fa-angle-double-down"></i></h3>
                    </div>
                </a>
                <div id="collapseMore" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMore">
                    <div class="choose">Vous pouvez selectionner de 1 à 3 thématiques</div>
                    {% include 'AMRFPublicRooterBundle::components/thematiques.html.twig' %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="choose">Et / Ou saisir un ou plusieurs mots-clefs</div>
                            <label for="motsCle" class="text-center" hidden>Mots-clefs</label><br>
                            <input type="text" max="5" class="motsCle form-control" name="motsCle" id="motsCle">
                        </div>
                    </div>
                    <div class="row">

                        <div class="motsCle col-md-12">
                            <select class="js-example-basic-multiple" name="motsCle[]" multiple="multiple">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Recherche
                            </button>

                        <div class="col-md-12 choose">
                            <span>Et / Ou choisir une Région ou un Département ou une Commune</span>

                        </div>
                        <div class="col-sm-4 form-group text-center">
                            <label for="region">Région</label>
                            <select class="form-control" id="region" name="region">
                                <option selected value="na"></option>
                                <option value="auvergne">Auvergne-Rhône-Alpes</option>
                                <option value="bourgogne">Bourgogne-Franche-Comté</option>
                                <option value="bretagne">Bretagne</option>
                                <option value="centre">Centre-Val de Loire</option>
                                <option value="corse">Corse</option>
                                <option value="grandest">Grand Est</option>
                                <option value="hautdefrance">Haut-de-France</option>
                                <option value="iledefrance">Ile-de-France</option>
                                <option value="normandie">Normandie</option>
                                <option value="aquitaine">Nouvelle-Aquitaine</option>
                                <option value="occitanie">Occitanie</option>
                                <option value="paysloire">Pays-de-la-Loire</option>
                                <option value="paca">Provence-Alpes-Côte-d'Azur</option>
                            </select>
                        </div>
                        <div class="col-sm-4 form-group text-center">
                            <label for="communes">Département</label>
                            <input type="text" class="form-control" accept="" name="communes" id="communes">
                        </div>
                        <div class="col-sm-4 form-group text-center">
                            <label for="city">Et / ou choisir une Commune</label>
                            <input id="city" class="form-control" type="text" autocomplete="off">
                        </div>
                        <div class="col-xs-offset-4 col-xs-8 form-group text-center">
                            <div class="output" id="output"></div>
                        </div>
                        <div class=" col-md-12 text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Recherche
                            </button>
                        </div>
                    </div>
                    {#<iframe class="hidden-xs" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"
                            src="http://www.openstreetmap.org/export/embed.html?bbox=-4.932861328125001%2C43.59630591596551%2C9.569091796875002%2C50.00067775723633&amp;layer=mapnik"
                            style="border: 0 solid black"></iframe>#}
                </div>
            </div>
        </div>
    </form>
    <h3>Résultat(s) de votre recherche</h3>
    <div class="jumbotron">
        {% set options = {'thema':'true','pictures':'true','update': 'false', 'more': 'true', 'id': 1, 'text': 210} %}
        {% include 'AMRFPublicRooterBundle::components/resumeProject.html.twig' with options %}
    </div>
    <div class="jumbotron">
        {% set options = {'thema':'true','pictures':'true','update': 'false', 'more': 'true', 'id': 2, 'text': 210} %}
        {% include 'AMRFPublicRooterBundle::components/resumeProject.html.twig' with options %}
    </div>
    <div class="jumbotron">
        {% set options = {'thema':'true','pictures':'true','update': 'false', 'more': 'true', 'id': 3, 'text': 210} %}
        {% include 'AMRFPublicRooterBundle::components/resumeProject.html.twig' with options %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(function ($) {
            var _5 = $('#code'), _4 = $('#city'), _9 = $('#output');
            var _2 = {};
            var _12 = (~(location.protocol + '').indexOf('s') ? 'https' : 'http') + '://vicopo.selfbuild.fr';
            _5.keyup(function () {
                var _0 = $(this).val();
                if (/^[^0-9]/.test(_0)) {
                    _5.val('');
                    _4.val(_0).focus().trigger('keyup')
                }
            });
            _4.keyup(function () {
                var _0 = $(this).val();
                if (/^[0-9]/.test(_0)) {
                    _4.val('');
                    _5.val(_0).focus().trigger('keyup')
                }
            });

            function _10(_13) {
                _9.html(_13.map(function (_3) {
                    return '<a href="#">' + _3.code + ' &nbsp; ' + _3.city + '</a>'
                }).join(''))
            }

            $.each(['code', 'city'], function (i, _1) {
                var _11 = $('#' + _1).on('keyup', function () {
                    var _0 = _11.val();
                    if (_0.length > 1) {
                        _2[_1] = _2[_1] || {};
                        if (_2[_1][_0]) {
                            _10(_2[_1][_0])
                        }
                        var _3 = {};
                        _3[_1] = _0;
                        $.getJSON(_12, _3, function (_6) {
                            _2[_1][_6.input] = _6.cities;
                            if (_11.val() == _6.input) {
                                _10(_6.cities)
                            }
                        })
                    }
                })
            });
            $(document).on('click', '#output a', function (e) {
                var _8 = $(this).text();
                var _7 = _8.indexOf(' ');
                if (~_7) {
                    _5.val(_8.substr(0, _7));
                    _4.val(_8.substr(_7).trim());
                    _9.empty()
                }
                e.preventDefault();
                e.stopPropagation();
                return false
            })
        });
    </script>
{% endblock %}