{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Ma fiche{% endblock %}
    {% block navbar %}
        {% include 'AMRFPublicRooterBundle::components/navbarPart.html.twig' %}
    {% endblock %}
{% block body %}

    <h2 class="center-align">Ma fiche Partenaire</h2>

    <!-- Nav tabs -->
    <div class="row tabPannel">
        <form action="">

            <div class="col-md-12">
                <ul class="list-inline text-center" role="tablist">
                    <li role="presentation" class="tabLi active" id="orgaMenu">
                        <a href="#organisme" aria-controls="organisme" role="tab" data-toggle="tab">Organisme</a>
                    </li>
                    <li role="presentation" id="preseMenu" class="tabLi">
                        <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Présentation</a>
                    </li>
                    <li role="presentation" id="contactMenu" class="tabLi">
                        <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a>
                    </li>
                    <li role="presentation" id="previewMenu" class="tabLi">
                        <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Prévisualisation</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="organisme">
                        <h3>Organisme</h3>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="company">Nom de l’organisme *</label>
                                <input id="company" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="address">Adresse de l’organisme *</label>
                                <input id="address" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="zipcode">Code Postal *</label>
                                <input id="zipcode" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="city">Ville *</label>
                                <input id="city" type="text" class="form-control">
                            </div>
                        </div>


                        <div class="form-group col-sm-6 col-md-offset-8" align="center">
                            <a href="#description" aria-controls="description" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('preseMenu')">
                                <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                                 aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <p>Le symbole * indique que cette information est obligatoire</p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="description">
                        <h3>Présentation de l'organisme</h3>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Secteur d'activité *</label>
                                <ul class="list-inline">
                                    <li><input name="group1" class="form-control" type="checkbox" id="institution">
                                        <label for="institution">Institution</label></li>
                                    <li><input name="group1" type="checkbox" id="bank"/>
                                        <label for="bank">Banque Assurance Mutuelle</label></li>
                                    <li><input name="group1" type="checkbox" id="health"/>
                                        <label for="health">Santé</label></li>
                                    <li><input name="group1" type="checkbox" id="education"/>
                                        <label for="education">Education</label></li>
                                    <li><input name="group1" type="checkbox" id="other"/>
                                        <label for="other">Autres</label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Présentation * (1200 caractères maximum)</label>
                                <textarea id="presentation" class="form-control" rows="6" data-length="1200"
                                          placeholder="Présentez votre activité"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                                <input type="file" id="photo" name="photo"/>
                                <label for="photo">
                                    <div class="btn">Ajouter un logo</div>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="url">Site internet (les utilisateurs seront renvoyés vers cette
                                    page)</label>
                                <input id="url" type="url" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="facebook">Facebook</label>
                                <input id="facebook" type="url" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="linkedin">Linkedin</label>
                                <input id="linkedin" type="url" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="twitter">Twitter</label>
                                <input id="twitter" type="url" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6" align="left">
                            <a href="#organisme" aria-controls="organisme" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('orgaMenu')">
                                <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                    Etape précédente
                                </div>
                            </a>
                        </div>
                        <div class="form-group col-sm-6" align="right">
                            <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('contactMenu')">
                                <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                                 aria-hidden="true"></i></div>
                            </a>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="contact">
                        <h3>Contact</h3>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="lastName">Nom du contact *</label>
                                <input id="lastName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="firstName">Prénom du contact *</label>
                                <input id="firstName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="tel">Téléphone *</label>
                                <input id="tel" type="tel" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input id="email" type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-6" align="left">
                            <a href="#description" aria-controls="description" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('preseMenu')">
                                <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                    Etape
                                    précédente
                                </div>
                            </a>
                        </div>
                        <div class="form-group col-sm-6" align="right">
                            <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('previewMenu')">
                                <div type="button" class="btn">Etape suivante <i class=" fa fa-angle-right"
                                                                                 aria-hidden="true"></i></div>
                            </a>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="preview">
                        <h3>Prévisualisez votre fiche</h3>
                        <p>Ici vous pouvez visualiser votre fiche telle qu'elle apparaîtra sur le site. Si elle vous
                            convient, cliquez sur "Envoyer", sinon, vous pouvez revenir au formulaire pour la
                            corriger.</p>
                        <div class="row jumbotron">
                            <div class="panel panel-default">
                                <div class="row">
                                    <div class="panel-heading" role="tab">
                                        <div class="col-md-4">
                                            <img src="http://via.placeholder.com/70x70">
                                        </div>
                                        <div class="col-md-5">
                                            <h3>Nom du partenaire</h3>
                                        </div>
                                    </div>
                                </div>
                                {% include 'AMRFPublicRooterBundle::components/partComponent.html.twig' %}
                            </div>
                        </div>
                        <div class="form-group col-sm-6" align="left">
                            <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab"
                               onclick="changeActiveMenu('contactMenu')">
                                <div type="button" class="btn"><i class=" fa fa-angle-left" aria-hidden="true"></i>
                                    Etape
                                    précédente
                                </div>
                            </a>
                        </div>
                        <div class="form-group col-sm-6" align="right">
                            <button type="button" class="btn">Envoyer votre fiche</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <script>

        function changeActiveMenu(idActive) {
            $('.tabLi').removeClass('active');
            $('#' + idActive).addClass('active');
        }
    </script>
{% endblock %}