{% extends 'AMRFPublicRooterBundle::base.html.twig' %}
{% block title %}Mon espace{% endblock %}
    {% block navbar %}
        {% include 'AMRFPublicRooterBundle::components/navbarPart.html.twig' %}
    {% endblock %}
{% block body %}

<h2 class="center-align">Mon Espace</h2>

<div class="row">
    <div class="card cardGest col-xs-12 col-md-4">
        <div class="card-body bck-part">
            <div class="card-title">
                <i class="fa fa-id-card"></i>
                <h3>MA FICHE</h3>
            </div>
            <div class="card-text">
                <p>Créer ou mettre à jour sa fiche partenaire</p>
            </div>
            <div class="card-block">
                <a href="{{ path('partPres') }}"><button class="btn btn-sm"><span class="fa fa-pencil"></span> ACCEDER</button></a>
            </div>
        </div>
    </div>
    <div class="card cardGest col-xs-12 col-md-4">
        <div class="card-body bck-part">
            <div class="card-title">
                <i class="fa fa-tags"></i>
                <h3>PROJETS</h3>
            </div>
            <div class="card-text">
                <p>Découvrez les projets par thématiques, zone géographique... Consulter mes projets favoris</p>
            </div>
            <div class="card-block">
                <a href="{{ path('partFavoris') }}"><button class="btn btn-sm"><i class="fa fa-star-o"></i>
                        MES FAVORIS</button></a>
                <a href="{{ path('recherche') }}"><button class="btn btn-xs"><span class="fa fa-search"></span> DECOUVRIR</button></a>
            </div>
        </div>
    </div>
    <div class="card cardGest col-xs-12 col-md-4">
        <div class="card-body bck-part">
            <div class="card-title">
                <i class="fa fa-user" ></i>
                <h3>MON PROFIL</h3>
            </div>
            <div class="card-text">
                <p>Gérez votre profil : ajoutez, consultez, modifiez ou supprimez les informations de                         votre compte</p>
            </div>
            <div class="card-block ">
                <a href="{{ path('partProfil') }}"><button class="btn btn-sm"><span class="fa fa-pencil"></span> ACCEDER A MON PROFIL</button></a>

            </div>
        </div>
    </div>
</div>
{% endblock %}