.container{
    margin:0px;
    padding: 0px;
}

h3{
    font-size: 150%;
}

.panel-body{
    padding:0px;
}
.panel-default{
    margin:0px;
}

.navLeft{
    box-shadow: 2px 2px 4px #5d5d5d;
}

.login{
    color: #000000;
    text-align: left;
    }

.panel{
    background-color: lightgrey;
}

.leftPanel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: #505050;
    border: 2px solid #1f1f1f;
    height: 15vh;
}

.badges{
    margin-top:7px;
}