body {
    background: rgb(227, 227, 227);
    height: 100vh;
}
.container-fluid{
    margin: 0 0 0 200px;
    padding: 0 50px;
    min-height: 100vh;
    max-width: 100%;
}
.content {
    margin-top: 80px;
    margin-bottom: 50px;
}
footer {
    background-color: #123841;
    min-height: 50px;
    margin-left: 200px;
    color: #FFF;
    padding: 10px;
}
h3{
    font-size: 150%;
    color: #FFF;
    margin-left: 10px;

}
.panel{
    background-color: #123841;
    color: #FFF;
    border: 0;
    border-radius: 0;
}
.panel-body{
    padding:0px;
}
.panel-default{
    margin:0px;
    position : fixed;
    top: 0;
    left: 0;
    width : 100%;
    z-index: 1000;

}

.navLeft{
    box-shadow: 2px 2px 4px #5d5d5d;
    display: inline-block;
    margin-top: 50px;
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: #1e5d6b;
}

.login{
    color: #000000;
    text-align: left;
}



.leftPanel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #ffffff;


    height: 10vh;

}

.btn-badge {
    margin-top:7px;
    background-color: #1e5d6b;
    color: #FFF;
}
.badge {
    background-color: #2f92a8;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td ,
table {
    border: 1px solid #E3E3E3;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
table > tbody > tr:nth-of-type(odd) {
    background-color: rgb(255, 255, 255);
}
table > tbody > tr:nth-of-type(even) {
    background-color: rgba(58, 176, 202, 0.2);
}
thead {
    background-color: #1e5d6b;
    color: #FFF;
}
h2
{
    margin-top : 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    font-size: 3em;
    color : #b70000;
}

.jumbotron
{
    border-radius: 10px;
    background-color: #f9e5e5;
}

.btn-lg
{
    float : right;
    background-color: #e06666;
    border-color: transparent;
}

.btn-lg:hover
{
    background-color: #b70000;
    border-color: transparent;
}

.jumbotron h3
{
    padding-top: 1px;
    padding-bottom: 30px;
    font-size : 2.5em;
}

.jumbotron p
{
    font-size : 2em;
}

.userMayor{
    background: red;
}
.userPartner{
    background: blue;
}
.hidden {
    display: none;
}