{% extends 'base.html.twig' %}
{% block title %}Formulaire fiche projet{% endblock %}
{% block navbar %}
    {% include 'components/navbar.html.twig' %}
{% endblock %}



{% block body %}

    {{ form_start(form) }}

    <h2>CREER UNE FICHE PROJET</h2>
    <p>Il faut donner un titre a votre projet pour pouvoir continuer</p>
    <div class="row">
        <div class="col-sm-12">
            {{ form_errors(form) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="col-sm-12 text-right">
            <button type="submit" class="btn">Etape suivante <i class=" fa fa-angle-right"></i></button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}

{% endblock %}
