.bck-maire{
  padding: 10px;
  background: #90CAF9;
  div>a{
    color: rgb(54, 80, 105) !important;
  }
}
.bck-part{
  padding: 10px;
  background: #b3ffb1;
  div>a{
    color: rgb(87, 116, 87) !important;
  }
}

.bck-default{
  padding: 10px;
  background: #80CBC4;
  div>a{
    color: rgb(61, 98, 91) !important;
  }
}
