.bck-maire{
  margin:3px;
  padding: 5px;
  background: #90CAF9;
  div>a{
    color: rgb(54, 80, 105) !important;
  }
}
.bck-part{
  margin:3px;
  padding: 5px;
  background: #b3ffb1;
  div>a{
    color: rgb(87, 116, 87) !important;
  }
}

.bck-default {
  margin:3px;
  padding: 5px;
  background: #80CBC4;
  div > a {
    color: rgb(61, 98, 91) !important;
  }
}

.jumbCard {
  margin:5px;
  padding:5px;
}
  .cardGest {
    .card-title {
      text-align: center;
      .fa {
        margin: 5px;
        text-align: center;
        font-size: 58px
      }
    }
    .card-body {
      height: 250px;
      padding: 10px;
    }
    p {
      font-size: 0.9em;
      display: inline-block;
      height: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

