{% extends 'base.html.twig' %}
{% block title %}Confidentialité{% endblock %}
{% block body %}
    <h2>{{ contents['cgu'].title|raw }}</h2>
    <div class="row jumbotron">
        {{ contents['cgu'].content|raw }}
    </div>
{% endblock %}