{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
    <h2>Contact</h2>
    <h3>Par téléphone</h3>
    <div class="jumbotron">

        Association des Maires Ruraux de France<br />
        52, avenue Maréchal Foch<br />
        69006 – LYON<br />
       <strong>04 37 43 39 80</strong>
        </p>

    </div>
    <h3>Ou envoyez-nous un message</h3>
    <div class="jumbotron">

        <form role="form" method="post">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Nom *</label>
                    <input type="text" class="form-control" id="nom" name="nom" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Prénom *</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Email *</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Téléphone *</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="col-sm-6">
                    <label>Je suis... *</label>
                    <select class="form-control" id="subject" name="subject">
                        <option selected value="na" hidden>Choisir une option</option>
                        <option value="service">Maire</option>
                        <option value="suggestions">Partenaire</option>
                        <option value="press">Journaliste</option>
                        <option value="product">Autre</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>Objet *</label>
                    <select class="form-control" id="subject" name="subject">
                        <option selected value="na" hidden>Choisir une option</option>
                        <option value="product">Demande de Renseignement</option>
                        <option value="adhésion">Demande d'Adhésion</option>
                        <option value="service">Problème de Connexion</option>
                        <option value="suggestions">Question fiche Projet</option>
                        <option value="autre">Autre</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <label>Votre message *</label>
                    <textarea class="form-control textarea" type="textarea" id="message" placeholder="Message..."
                              maxlength="1200" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <em>* Champs obligatoires</em>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <div class="g-recaptcha text-right" data-sitekey="6LfGgDYUAAAAAFiNhfvLiy-5WjYs-EbLy6kN1PjA"></div>
                </div>
                <div class="col-xs-3">
                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
