{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}

    <div class="row jumbotron">
        <h2>Accédez à votre espace</h2>
        <div class="col-sm-6 col-xs-12 text-center">
            <div class="formConnect bck-maire">
                <form action="{{ path('login') }}" method="post">
                    <h5 class="text-center">Maire</h5>
                    <div class="form-group">
                        <label for="login_M">n° INSEE</label>
                        <input id="login_M" type="text" name="_username" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="mdp_M">Mot de passe</label>
                        <input id="mdp_M" type="password" name="_password" class="form-control" autocomplete="off">
                    </div>
                    <div class="containerConnect">
                        <button class="btn" type="submit" name="action">Connexion</button>
                    </div>
                    <div class="containerConnect">
                        <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
                    </div>
                    <input type="hidden" name="_target_path" value="/mayor"/>
                </form>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 text-center">
            <div class="formConnect bck-part">
                <form action="{{ path('login') }}" method="post" autocomplete="off">
                    <h5 class="text-center">Partenaire</h5>
                    <div class="form-group">
                        <label for="login_P">n° SIRET</label>
                        <input id="login_P" type="text" name="_username" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="mdp_P">Mot de passe</label>
                        <input id="mdp_P" type="password" name="_password" class="form-control" autocomplete="off">
                    </div>
                    <div class="containerConnect">
                        <button class="btn" type="submit" name="action">Connexion</button>
                    </div>
                    <div class="containerConnect">
                        <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
                    </div>
                    <input type="hidden" name="_target_path" value="/partner"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}