#navbar {
  color: white;
  width: 100%;
  margin-top: 0;
  background-color: red;
  border-radius: 0;
  font-size: 1.8em;
  vertical-align: middle;
  button {
    background-color: $color1;
    border: 1px solid $color2;
    span {
      color: $color2;
      background-color: $color2;
    }
  }
  ul {
    vertical-align: middle;
  }
  .nav {
    vertical-align: middle;
  }
  nav .button-collapse {
    float: right;
    position: relative;
    z-index: 1;
    height: 70px;
    margin: 0 18px;
  }
  li {

    a {
      color: $color2;
      height: 70px;
      vertical-align: initial;
      padding-top: 25px;
    }
    color: $color1;
  }
  li :hover {
    a {
      color: $color1;
    }
    color: $color1;
  }
  ul .dropdown-menu {
    a {
      color: $color1;
    }
    color: $color1;
  }
  ul .dropdown-menu :hover {
    a {
      color: $color1;
    }
    color: $color1;
  }

}