<!doctype html>
<html lang="en">
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        header {
            color: #009E3D;
            height: 100px;
            width: 100%;
            text-align: center;
            padding-top: 15px;
        }

        h1 {
            font-size: 3em;
        }

        .nav {
            background: #009E3D;
            width: 100%;
            height: 50px;
            display: flex;
        }

        .nav a {
            color: white;
            text-decoration: underline;
            font-weight: bold;
        }

        ul {
            text-align: right;
            margin-left: 30%;
            padding-bottom: 10px;
        }

        li {
            display: inline;
            padding-right: 30px;
            font-size: 1.3em;
        }

        h2 {
            color: white;
            margin-left: 20px;
            font-style: italic;
        }

        .content {
            width: 80%;
            margin: 50px auto;
            padding: 30px;
            font-size: 1.2em;
        }

        .content h2 {
            font-style: normal;
            color: black;
        }

        .content a {
            font-style: normal;
            text-decoration: none;
            font-size: 1.2em;
            color: black;
        }

        .footer {
            background: #009E3D;
            bottom: 0;
            width: 100%;
            height: 60px;
            color: white;
            display: flex;
        }

        .footer a {
            margin-left: 30px;
            color: white;
            text-decoration: underline;
            font-weight: bold;
            margin-top: 20px;
            font-size: 1em;
        }

        img {
            height: 80px;
            background: white;
            margin: 10px;
            border-radius: 5px;
            float: left;
        }

        .button {
            max-width: 150px;
            text-align: center;
            background: #009E3D;
            border-radius: 5px;
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            padding: 15px;
            margin: 20px;
        }

        .amrf {
            font-weight: 800;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AMRF - Wiki des Maires</title>
</head>
<body>

<div class="container">
    <header>
        <h1>Le Wiki des Maires</h1>
        <div class="nav">
            <h2>" Des maires au service des maires</h2>
            <ul>
                <li><a href="{{ url('home') }}">Wiki des Maires</a></li>
                <li><a href="{{ url('contact') }}">Contactez nous</a></li>
            </ul>
        </div>
    </header>
    <div class="content">
        {% block body %}

        {% endblock %}
    </div>
</div>
<div class="footer">
    <a href="http://www.amrf.fr">Site de l'AMRF</a>
</div>
</body>
</html>