{% extends 'email/baseEmail.html.twig' %}
    {% block body %}

        <h3>Bonjour  {{ firstName }} {{ name }},</h3>
        <h4>Vous avez envoyé une demande via le formulaire de contact du « Wiki des maires » et nous vous en remercions.</h4>

        <p>Voici le contenu de votre message :</p>
        <p>Objet : {{ object }}</p>
        <p>Message : {{ message }}</p>
        <br/>
        <p>Nous allons étudier votre demande et vous ferons un retour dans les meilleurs délais.</p>>

        Bien cordialement.<br/>
        <p class="amrf">L’Association des Maires Ruraux de France<br/>
            "Des maires au service des maires"</p><br/>
        —<br/>
        <p>Ceci est un email automatique, merci de ne pas y répondre.</p>

    {% endblock %}

