{% extends 'email/baseEmail.html.twig' %}
    {% block body %}


        <h3>Merci pour votre message, nous le traiterons dans les plus brefs délais!</h3>

        Objet de votre message :

        {{ object }}

        Votre message envoyé :

        {{ message }}


    {% endblock %}

