{% extends 'email/baseEmail.html.twig' %}
    {% block body %}

        <h3>Bonjour  {{ firstName }} {{ lastName }},</h3>
        <h4>Vous avez demandé à réinitialiser votre mot de passe sur votre Espace du <a href="{{ url('home') }}" class="link">Wiki des Maires.</a></h4>
        <p>Si vous n'êtes pas à l'origine de cette demande, ne tenez pas compte de cet email.</p>
        <p>Si vous avez bien demandé cette réinitilisation, veuillez cliquer sur le lien ci-dessous. <br>
        <p class="amrf">Attention : ce lien est valide durant 15 minutes. Passé ce délai, vous ne pourrez plus réinitialiser. Vous devrez faire une nouvelle demande à partir du Wiki des Maires.
        </p>
        <p>Bien cordialement.</p>

        <p class="amrf">L’Association des Maires Ruraux de France<br/>
            "Des maires au service des maires"</p><br/>
        <a href="{{ url('token_password', {
            'token': token
        }) }}" class="link">
            <div class="button">
                Réinitialiser
            </div>
        </a>

        <p>Ceci est un email automatique, merci de ne pas y répondre</p>
    {% endblock %}

