{% extends 'email/baseEmail.html.twig' %}
    {% block body %}
        <h3>Bonjour {{ firstName }} {{ lastName }},</h3>
        <h4>Nous avons bien pris en compte votre demande de changement de mot de passe sur le « Wiki des maires ».</h4>
            <p>Veuillez conserver votre identifiant ("{{ login }}") et votre nouveau mot de passe, ils seront nécessaires lors de votre prochaine connexion.</p>

        <p>Bien cordialement.</p>
        <p class="amrf">L’Association des Maires Ruraux de France<br/>
            "Des maires au service des maires"</p><br/>
        <br/>

        <p>Ceci est un email automatique, merci de ne pas y répondre.</p>
    {% endblock %}

