{% extends 'email/baseEmail.html.twig' %}
    {% block body %}
        <h3>Bonjour {{ firstName }} {{ lastName }},</h3>
        <h4>Vous avez complété une fiche projet "{{ title }}" sur le « Wiki des maires » et nous vous en
            remercions.<br/>
            Votre fiche est en attente de validation par nos services.</h4>
        <p>Vous recevrez très prochainement un email pour vous annoncer sa mise en ligne.</p>

        <p>Bien cordialement.</p>
        <p class="amrf">L’Association des Maires Ruraux de France<br/>
            "Des maires au service des maires"</p><br/>
        —<br/>

        <p>Ceci est un email automatique, merci de ne pas y répondre.</p>
    {% endblock %}
