{% extends 'email/baseEmail.html.twig' %}
    {% block body %}
        Bonjour,<br/>
        Vous avez complété une fiche projet sur le « Wiki des maires » et nous vous en remercions.<br/>
        Nous vous informons que cette fiche vient d'être validée par nos services et publiée sur le site.<br/>

        Bien cordialement.<br/>
        <p class="amrf">L’Association des Maires Ruraux de France<br/>
            "Des maires au service des maires"</p><br/>
        —<br/>
        Ceci est un email automatique, merci de ne pas y répondre.

    {% endblock %}

