/**
* Colors
 */
$bodyColor: rgba(224, 242, 241, 0.8);
$color1: rgba(0, 158, 61, .99);
$color2: #ffffff;
$color3: rgba(196, 255, 190, 0.1);
$color4: #cbcbcb;
$color5: #2a2a2a;
$color6: rgba(0, 110, 45, 0.5);
/**
* Typo
 */
$font1: 'Source Sans Pro';
$font2: 'Cabin Condensed';
$font3: 'ERASDEMI';