<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - Wiki des Maires</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% include 'AMRFPublicRooterBundle::components/head.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    {% include 'AMRFPublicRooterBundle::components/header.html.twig' %}
</header>
<nav id="navbar">
    {% block navbar %}
        {% include 'AMRFPublicRooterBundle::components/navbar.html.twig' %}
    {% endblock %}
</nav>
<section>
    <div class="container">
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</section>
<footer class="page-footer">
    {% include 'AMRFPublicRooterBundle::components/footer.html.twig' %}
</footer>
{% include 'AMRFPublicRooterBundle::components/script.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
{% include 'AMRFPublicRooterBundle::components/modalConnect.html.twig' %}
</html>
