<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - Wiki des Maires</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% include 'AMRFPublicRooterBundle::components/head.html.twig' %}
</head>
<body>
{% include 'AMRFPublicRooterBundle::components/header.html.twig' %}
{% include 'AMRFPublicRooterBundle::components/navbar.html.twig' %}
<div class="body">
    <section>
        <div class="container">
            <div class="content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </section>
</div>
<footer class="page-footer">
    {% include 'AMRFPublicRooterBundle::components/footer.html.twig' %}
</footer>
{% include 'AMRFPublicRooterBundle::components/script.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
{% include 'AMRFPublicRooterBundle::components/modalConnect.html.twig' %}
</html>
