/**
*************************** RESET *********************
 */
@import 'partials/reset';
/**
*************************** Variable *********************
 */
@import 'partials/variables';
/**
/**
*************************** Fonction *********************
 */
@import 'partials/mixins';
/**
*************************** Components *********************
 */
@import 'partials/views/navbar';
@import 'partials/views/header';
@import 'partials/components/modalConnect';
@import 'partials/views/footer';
@import 'partials/views/search';
@import 'partials/views/motsCle';
@import 'partials/views/multiSelect';
@import 'partials/components/cards';
@import 'partials/components/resumeprojet';
@import 'partials/components/listeAccordion';
@import 'partials/components/projet';

/**
*************************** View *********************
 */
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Comfortaa|Francois+One|Josefin+Sans|Play|Poiret+One|Source+Sans+Pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css');
@import url("http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css");

body::-webkit-scrollbar {
  display: none;
}

/**
** node-sass --watch web/sass/main.scss web/css/main.css
**
******Ca sert a rien mais ca switch de background a chaque compilation
** pour test
 */
$imgKey: random(5);

$list: bck-1, bck-2, bck-3, bck-4, bck-5;
$nth: nth($list, $imgKey);

body {
  font-size: 1.0em;
  background: url('../img/#{$nth}.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $primaryFont, sans-serif;
  .modal-backdrop {
    z-index: 5;
  }
  .body {
    background-color: $bodyColor;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .article {
    padding: 20px;
  }
  .content {
    margin-top: 50px;
    /*margin-bottom: 50px;*/
    background-color: #fff;
    padding: 30px;
    min-height: 100vh;
    z-index: 1;
  }
  h1 {
    font-size: 4em;
    font-family: $secondeFont, sans-serif;
  }
  h2 {
    font-family: $secondeFont, sans-serif;
    font-size: 2.8em;
    line-height: 2em;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    color: $color1;
    font-family: $secondeFont, sans-serif;
    font-size: 2em;
    line-height: 2em;
    a:link {
      text-decoration: none;
      color: $color1;
    }

    a:visited {
      text-decoration: none;
      color: $color1;
    }

    a:hover {
      text-decoration: none;
      font-weight: bold;
      color: $color1;
    }

    a:active {
      text-decoration: none;
      font-weight: bold;
      color: $color1;
    }
  }
  h4 {
    font-size: 1.8em;
    line-height: 1em;
  }
  h5 {
    font-size: 1.6em;
    line-height: 1em;
  }
  .btn {
    background-color: $color1;
    color: $color2;
    border: 0;
    font-size: 1.2em;
  }
  .btn:hover {
    background-color: $color2;
    color: $color1;
  }
  .test {
    @include borderRadius(6px);
    width: 100%;
    padding: 60px 48px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    min-height: 50vh;

    .tab-pane {
      min-height: 35vh;
    }
    ul {
      a{
        color: $color2;
      }
      li {
        background-color: $color1;
        padding: 20px;
        @include borderRadius(5px);
      }
      .active{
        background-color: $color2;
        a{
          color: $color1;
        }
        color: $color1;
      }
    }
  }
}



