/**
*************************** RESET *********************
*/
@import 'partials/reset';
/**
*************************** Variable *********************
 */
@import 'partials/variables';
/**
*************************** Fonctions *********************
*/
@import 'partials/mixins';
/**
*************************** Components *********************
 */
@import 'partials/components/header';
@import 'partials/components/modalConnect';
@import 'partials/components/navbar';
@import 'partials/components/footer';
/**
*************************** View *********************
 */
@import 'partials/views/section';
@import 'partials/views/form';
/**
** node-sass --watch web/sass/main.scss web/css/main.css
*/

@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Comfortaa|Francois+One|Josefin+Sans|Play|Poiret+One|Source+Sans+Pro');
@import url("http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css");
/**
*/
body::-webkit-scrollbar {
  display: none;
}
$imgKey: random(5);

$list: bck-1, bck-2, bck-3, bck-4, bck-5;
$nth: nth($list, $imgKey);
body
{
  font-size: 1.0em;
  background: url('../img/#{$nth}.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $primaryFont, sans-serif;
}
a:visited, a:link {
  text-decoration: none;
  color: $color2;
}

a:hover, a:active {
  text-decoration: none;
  font-weight: bold;
  color: $color2;
}
.btn,.btn:focus, .btn:target, .btn:active  {
  color: $color2;
  font-size: 1.2em;
  background: $color1;
  margin: 10px;
  padding: 10px;
  border: 2px solid $color1;
  @include boxShadow(3px, rgba(0, 0, 0, 0.4));
  outline: none;
}
.btn:hover {
  color: $color2;
  background: $color1;
  margin: 10px;
  border: 2px solid $color1;
  @include boxShadow(3px, rgba(0, 0, 0, 0.6));
}
